In [1]:
import time
import pandas as pd
from pykiwoom.kiwoom import *
import warnings
warnings.filterwarnings('ignore')

kiwoom = Kiwoom()
kiwoom.CommConnect(block=True)

In [2]:
from datetime import date,datetime
today = date.today()
today = today.isoformat()
today = today.replace('-','')
yesterday = int(today)-1
yesterday = str(yesterday)
print(yesterday, type(yesterday))
set_d = yesterday

20220709 <class 'str'>

In [9]:
dfs = []
df = kiwoom.block_request("opt20006",
                          업종코드="001",
                          기준일자=set_d,
                          output="업종일봉조회",
                          next=0)
print(df.head())
dfs.append(df)

count = 1
while kiwoom.tr_remained:
    if count == 5:
        break;
    df = kiwoom.block_request("opt20006",
                              업종코드="001",
                              기준일자=set_d,
                              output="업종일봉조회",
                              next=2)
    dfs.append(df)
    count+=1
    
    
df = pd.concat(dfs)

CommRqData opt20006 opt20006 0 0101
      현재가     거래량        일자      시가      고가      저가     거래대금 대업종구분 소업종구분 종목정보  \
0  235061  411424  20220708  235249  236784  234874  7008117
1  233427  340172  20220707  230897  234414  230790  7652635
2  229201  410732  20220706  233011  233214  229033  8919471
3  234178  323904  20220705  232211  234408  230962  6890579
4  230034  467959  20220704  231073  231831  227663  7339364

  전일종가
0
1
2
3
4
CommRqData opt20006 opt20006 2 0101
CommRqData opt20006 opt20006 2 0101
CommRqData opt20006 opt20006 2 0101
CommRqData opt20006 opt20006 2 0101

In [10]:
df = df[['일자', '현재가']]

In [11]:
df

           일자     현재가
0    20220708  235061
1    20220707  233427
2    20220706  229201
3    20220705  234178
4    20220704  230034
..        ...     ...
595  20100518  164324
596  20100517  165151
597  20100514  169563
598  20100513  169458
599  20100512  166303

[3000 rows x 2 columns]