# 1. 환경설정

In [1]:
import pickle
import time
import pandas as pd
import pickle
from pykiwoom.kiwoom import *
import warnings
warnings.filterwarnings('ignore')
kiwoom = Kiwoom()
kiwoom.CommConnect(block=True)

In [2]:
state = kiwoom.GetConnectState()
if state == 0:
    print("미연결")
elif state == 1:
    print("연결완료")

연결완료

# 2. 데이터 읽기

In [5]:
with open('sector.pickle','rb') as f:
    sector = pickle.load(f)
with open('df_sector2.pickle','rb') as f:
    df_sector = pickle.load(f)
#with open('kospi.pickle','rb') as f:
 #   kospi = pickle.load(f)

In [6]:
sector

{'Food': ['097950', '271560', '000080', '004370', '005300'],
 'Clothing': ['383220', '093050', '020000', '105630', '001070'],
 'Chemical': ['051910', '096770', '010950', '051900', '090430'],
 'Medicine': ['207940', '068270', '302440', '000100', '128940'],
 'Non_Metal': ['003670', '003410', '010780', '300720'],
 'Metal': ['005490', '010130', '004020', '016380', '001230'],
 'Machine': ['034020', '018880', '241560', '112610'],
 'Electronic': ['005930', '000660', '373220', '006400', '066570'],
 'Construction': ['000720', '006360', '047040', '051600'],
 'Transport': ['011200', '003490', '086280', '180640', '028670'],
 'Distribution': ['028260', '023530', '282330', '139480', '004170'],
 'Power': ['015760', '036460', '017390'],
 'Tele': ['017670', '030200', '032640'],
 'Finance': ['323410', '003550', '000810', '377300', '006800'],
 'Brokerage': ['005940', '016360', '008560', '039490'],
 'Insurer': ['032830', '005830', '000060', '001450'],
 'Service': ['035420', '035720', '259960', '018260', '036570'],
 'Manufacturer': ['005380', '000270', '012330', '329180', '033780', '009150']}

In [7]:
df_sector

{'Food': {'097950':              일자    거래량      시가      고가      저가      종가
  0    2022-07-18  27816  396000  399000  389000  391000
  1    2022-07-15  40227  395000  401000  381000  397500
  2    2022-07-14  34230  399000  405500  395000  402000
  3    2022-07-13  50183  400000  407500  396500  403000
  4    2022-07-12  48509  389500  398500  388500  398500
  ...         ...    ...     ...     ...     ...     ...
  2995 2010-05-27  46323  208500  212000  205000  211500
  2996 2010-05-26  77164  212500  213500  203500  213500
  2997 2010-05-25  71590  210000  216500  199000  213000
  2998 2010-05-24  28817  211000  218500  210500  211000
  2999 2010-05-20  57088  214500  220000  213500  214000

  [3000 rows x 6 columns],
  '271560':              일자      거래량      시가      고가      저가      종가
  0    2022-07-18   140201  106500  107000  103500  104000
  1    2022-07-15    90893  108500  108500  104000  106500
  2    2022-07-14   138391  108000  109500  106000  107000
  3    2022-07-13   203292  108000  113000  107500  109000
  4    2022-07-12   139104  105000  108000  105000  107500
  ...         ...      ...     ...     ...     ...     ...
  1231 2017-07-13   218138   83400   84000   80800   81600
  1232 2017-07-12   238407   83700   84600   80000   83500
  1233 2017-07-11   422303   88000   88000   82700   82800
  1234 2017-07-10   840451   82300   88000   81000   88000
  1235 2017-07-07  1619864   87100   89700   75700   82300

  [1236 rows x 6 columns],
  '000080':              일자     거래량     시가     고가     저가     종가
  0    2022-07-18  173327  29250  29750  29200  29600
  1    2022-07-15  210606  30000  30000  28950  29300
  2    2022-07-14  202011  30000  30350  29550  29850
  3    2022-07-13  169173  29400  30200  29250  29900
  4    2022-07-12  204824  29650  29900  29100  29300
  ...         ...     ...    ...    ...    ...    ...
  2995 2010-05-27  262075  31400  34900  31150  32050
  2996 2010-05-26  123593  31300  31400  30550  31400
  2997 2010-05-25  111451  30800  31200  30400  30850
  2998 2010-05-24   81369  30600  31050  30300  30850
  2999 2010-05-20   73176  30950  31300  30450  30550

  [3000 rows x 6 columns],
  '004370':              일자    거래량      시가      고가      저가      종가
  0    2022-07-18  14217  281500  282500  278000  279000
  1    2022-07-15  18808  283000  284000  277500  280500
  2    2022-07-14  23636  281500  286500  278000  280500
  3    2022-07-13  29557  283500  291500  280000  283000
  4    2022-07-12  12091  281500  284500  279000  281500
  ...         ...    ...     ...     ...     ...     ...
  2995 2010-05-27   8793  227000  230000  225000  228000
  2996 2010-05-26  14811  223500  230500  222500  227500
  2997 2010-05-25  10944  227000  227000  223000  223500
  2998 2010-05-24   6671  228500  228500  226000  228000
  2999 2010-05-20   9735  225000  228000  222500  227000

  [3000 rows x 6 columns],
  '005300':              일자    거래량      시가      고가      저가      종가
  0    2022-07-18  29958  170500  172000  167500  168500
  1    2022-07-15  24548  173500  173500  165000  171000
  2    2022-07-14  21958  174000  176000  171000  172000
  3    2022-07-13  25202  171000  177000  169000  177000
  4    2022-07-12  40961  175500  175500  166500  170000
  ...         ...    ...     ...     ...     ...     ...
  2995 2010-05-27  18190   77100   79000   77000   78500
  2996 2010-05-26  22910   76200   79700   76200   78500
  2997 2010-05-25  30720   80300   80800   76600   76900
  2998 2010-05-24  18640   81500   82700   80400   80800
  2999 2010-05-20  16180   81500   83100   81200   82300

  [3000 rows x 6 columns]},
 'Clothing': {'383220':             일자      거래량      시가      고가      저가      종가
  0   2022-07-18    61299  140500  142000  137000  139000
  1   2022-07-15   122342  136000  142000  133500  140500
  2   2022-07-14    73186  136000  140000  135500  136000
  3   2022-07-13    93743  130500  139000  130000  137500
  4   2022-07-12    76939  133000  135000  128000  129500
  ..         ...      ...     ...     ...     ...     ...
  282 2021-05-27   349185   86000   87400   84400   87300
  283 2021-05-26   503055   86000   88600   81200   87300
  284 2021-05-25   514200   88600   89000   83200   86000
  285 2021-05-24   879900   83600   91000   81500   89000
  286 2021-05-21  2774180   72000   93600   72000   82500

  [287 rows x 6 columns],
  '093050':              일자     거래량     시가     고가     저가     종가
  0    2022-07-18   21894  15350  15750  15250  15700
  1    2022-07-15   41203  15350  15500  15050  15200
  2    2022-07-14    9989  15500  15650  15350  15500
  3    2022-07-13   68720  15200  15650  14900  15500
  4    2022-07-12   74680  15800  15850  14900  15200
  ...         ...     ...    ...    ...    ...    ...
  2995 2010-05-27  269920  26000  26000  25050  25700
  2996 2010-05-26   95745  26100  26400  25700  25750
  2997 2010-05-25  143000  25850  26400  24850  26400
  2998 2010-05-24   64143  25100  26350  25100  26300
  2999 2010-05-20   96811  26800  27300  25750  25750

  [3000 rows x 6 columns],
  '020000':              일자     거래량     시가     고가     저가     종가
  0    2022-07-18   58144  29200  29750  28850  29500
  1    2022-07-15   54818  29300  29300  28150  28550
  2    2022-07-14   75943  28750  29450  28500  28950
  3    2022-07-13   70492  28750  29350  28650  29200
  4    2022-07-12  143764  30500  30500  28200  28500
  ...         ...     ...    ...    ...    ...    ...
  2995 2010-05-27  161885  14200  14500  13800  13950
  2996 2010-05-26   54425  14400  14550  14000  14400
  2997 2010-05-25  146466  14500  14650  13600  14400
  2998 2010-05-24   83351  15000  15100  14450  14550
  2999 2010-05-20  143175  15000  15200  14750  15050

  [3000 rows x 6 columns],
  '105630':              일자     거래량     시가     고가     저가     종가
  0    2022-07-18  219515  15800  16150  15550  16000
  1    2022-07-15  197073  15850  16050  15400  15650
  2    2022-07-14  305130  15950  16200  15650  15750
  3    2022-07-13  169447  15650  16200  15650  16100
  4    2022-07-12  464850  16450  16500  15500  15800
  ...         ...     ...    ...    ...    ...    ...
  2995 2010-05-27  170703   6155   6380   5855   6350
  2996 2010-05-26  132346   5967   6298   5855   6230
  2997 2010-05-25  179423   5847   6147   5630   5832
  2998 2010-05-24  121985   6080   6305   5832   5832
  2999 2010-05-20  107345   6252   6418   5915   6080

  [3000 rows x 6 columns],
  '001070':              일자    거래량     시가     고가     저가     종가
  0    2022-07-18   2318  48850  49600  48850  49450
  1    2022-07-15  45220  48750  49150  48000  49150
  2    2022-07-14   3502  49250  49400  48900  49200
  3    2022-07-13   5746  49600  49600  48750  49350
  4    2022-07-12   5884  48800  49500  48700  49350
  ...         ...    ...    ...    ...    ...    ...
  2995 2010-05-27   6150   5180   5400   5100   5230
  2996 2010-05-26  14905   4970   5100   4810   5090
  2997 2010-05-25  44500   5280   5290   4710   4800
  2998 2010-05-24   9055   5330   5520   5230   5400
  2999 2010-05-20   6150   5480   5640   5360   5480

  [3000 rows x 6 columns]},
 'Chemical': {'051910':              일자     거래량      시가      고가      저가      종가
  0    2022-07-18  160879  514000  517000  505000  515000
  1    2022-07-15  229151  529000  530000  507000  512000
  2    2022-07-14  226078  515000  533000  514000  530000
  3    2022-07-13  209137  516000  524000  511000  517000
  4    2022-07-12  171869  519000  522000  509000  514000
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27  305893  265000  275000  263500  272000
  2996 2010-05-26  423060  261500  271000  259500  268500
  2997 2010-05-25  492229  260000  264000  249500  262000
  2998 2010-05-24  244818  260000  265000  258000  264500
  2999 2010-05-20  450153  268500  277500  258500  265000

  [3000 rows x 6 columns],
  '096770':              일자     거래량      시가      고가      저가      종가
  0    2022-07-18  245629  173500  174000  170000  173000
  1    2022-07-15  329142  172500  174000  166500  170500
  2    2022-07-14  573528  164500  174500  164500  172500
  3    2022-07-13  515483  162500  166500  158500  166500
  4    2022-07-12  343170  167500  170000  164000  165000
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27  904128   97300  101500   96500  100500
  2996 2010-05-26  942247   99900   99900   94300   97100
  2997 2010-05-25  625613  100000  100500   96400   98400
  2998 2010-05-24  639648   98000  102500   97700  101000
  2999 2010-05-20  905124  100500  103500   98200   98800

  [3000 rows x 6 columns],
  '010950':              일자     거래량     시가     고가     저가     종가
  0    2022-07-18  373881  89600  92300  88000  92300
  1    2022-07-15  232955  90700  90800  88300  88900
  2    2022-07-14  255242  89900  91800  89000  90600
  3    2022-07-13  476706  89100  90300  86600  89900
  4    2022-07-12  242954  91700  92800  89600  91200
  ...         ...     ...    ...    ...    ...    ...
  2995 2010-05-27  346735  49600  49700  49000  49150
  2996 2010-05-26  195898  50000  51100  49650  49650
  2997 2010-05-25  363444  51600  51600  49700  49800
  2998 2010-05-24  247220  51700  52800  51100  51700
  2999 2010-05-20  257372  51700  52400  51500  51800

  [3000 rows x 6 columns],
  '051900':              일자    거래량      시가      고가      저가      종가
  0    2022-07-18  32283  713000  725000  712000  717000
  1    2022-07-15  38351  726000  727000  700000  711000
  2    2022-07-14  69383  705000  726000  705000  720000
  3    2022-07-13  81869  710000  731000  704000  715000
  4    2022-07-12  42882  704000  713000  697000  708000
  ...         ...    ...     ...     ...     ...     ...
  2995 2010-05-27  43499  305000  309500  301000  306000
  2996 2010-05-26  23804  302000  309000  302000  305500
  2997 2010-05-25  46193  306000  308000  298000  304000
  2998 2010-05-24  44761  304000  311000  303500  309000
  2999 2010-05-20  77320  314000  316000  307000  310500

  [3000 rows x 6 columns],
  '090430':              일자     거래량      시가      고가      저가      종가
  0    2022-07-18  117689  134500  136500  133000  134000
  1    2022-07-15  127723  135000  136000  131000  133500
  2    2022-07-14  172436  135000  138000  134000  134500
  3    2022-07-13  195845  131000  137500  130000  136000
  4    2022-07-12  117074  130000  131000  128500  130000
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27  139430   90200   92500   89100   91000
  2996 2010-05-26  132680   90000   91500   89000   91500
  2997 2010-05-25  266440   88100   90900   86300   89000
  2998 2010-05-24   91560   88500   90600   88100   88900
  2999 2010-05-20  125390   88000   90300   87500   88900

  [3000 rows x 6 columns]},
 'Medicine': {'207940':              일자      거래량      시가      고가      저가      종가
  0    2022-07-18    46011  813000  817000  803000  810000
  1    2022-07-15    38951  826000  828000  813000  817000
  2    2022-07-14    57296  823000  829000  813000  825000
  3    2022-07-13    42820  834000  835000  828000  832000
  4    2022-07-12    64634  829000  834000  815000  834000
  ...         ...      ...     ...     ...     ...     ...
  1393 2016-11-16  1680639  166529  170976  161587  168011
  1394 2016-11-15  2623646  176906  179376  160599  164058
  1395 2016-11-14  3012422  163070  175423  163070  173447
  1396 2016-11-11  8236911  147751  184318  140339  159610
  1397 2016-11-10  7264007  133421  146268  124032  142315

  [1398 rows x 6 columns],
  '068270':              일자      거래량      시가      고가      저가      종가
  0    2022-07-18   366865  187500  187500  180000  183000
  1    2022-07-15   389861  189500  189500  183000  186500
  2    2022-07-14   420165  190000  190500  186500  189000
  3    2022-07-13   513629  188500  193000  187500  190000
  4    2022-07-12   423296  187500  191500  185000  187500
  ...         ...      ...     ...     ...     ...     ...
  2995 2010-05-27  1340352   17150   17772   16928   17772
  2996 2010-05-26  1753427   17194   17461   16661   17417
  2997 2010-05-25  2506439   17905   18039   16928   17061
  2998 2010-05-24  2333436   17683   18305   17283   18305
  2999 2010-05-20  3272264   19682   19816   17816   18216

  [3000 rows x 6 columns],
  '302440':             일자       거래량      시가      고가      저가      종가
  0   2022-07-18   1449037  138000  138500  129500  134000
  1   2022-07-15   1902745  143500  145500  135500  137000
  2   2022-07-14   1350020  143000  150000  139500  150000
  3   2022-07-13   1906620  153500  156500  141000  142500
  4   2022-07-12   1555918  149000  152000  144500  147500
  ..         ...       ...     ...     ...     ...     ...
  326 2021-03-24   1707179  138000  142000  135500  136500
  327 2021-03-23   2980953  147000  149500  138000  140500
  328 2021-03-22   4675116  161000  162500  143000  144000
  329 2021-03-19  12468903  184000  190000  166000  166500
  330 2021-03-18    876189  130000  169000  130000  169000

  [331 rows x 6 columns],
  '000100':              일자     거래량     시가     고가     저가     종가
  0    2022-07-18  100369  57400  58100  57300  57700
  1    2022-07-15  126581  57500  57800  56600  57300
  2    2022-07-14  192395  56600  57800  56300  57500
  3    2022-07-13  142481  57500  57900  56900  57100
  4    2022-07-12  136416  57400  57700  56300  57400
  ...         ...     ...    ...    ...    ...    ...
  2995 2010-05-27  308756  20741  21403  20520  21182
  2996 2010-05-26  581890  21477  21771  20668  20668
  2997 2010-05-25  379742  22212  22359  21256  21403
  2998 2010-05-24   85588  22212  22653  22212  22286
  2999 2010-05-20  221373  22506  22727  22286  22359

  [3000 rows x 6 columns],
  '128940':              일자     거래량      시가      고가      저가      종가
  0    2022-07-18   78290  312000  314000  298000  306000
  1    2022-07-15   32823  312000  318000  307000  314000
  2    2022-07-14   58417  317000  318000  306000  311000
  3    2022-07-13   29371  322500  323500  316500  321000
  4    2022-07-12   26722  321000  324500  315000  321000
  ...         ...     ...     ...     ...     ...     ...
  2946 2010-08-05  114537   59552   59552   56268   56654
  2947 2010-08-04   99727   58715   60002   55367   58715
  2948 2010-08-03   57060   58715   59873   58586   58715
  2949 2010-08-02  159281   63414   63672   58264   58586
  2950 2010-07-30  383395   57942   66633   57942   64316

  [2951 rows x 6 columns]},
 'Non_Metal': {'003670':              일자     거래량      시가      고가      저가      종가
  0    2022-07-18  235294  110000  112500  107000  112000
  1    2022-07-15  156374  110500  110500  108000  109000
  2    2022-07-14  317600  109000  112000  108500  110000
  3    2022-07-13  238916  104000  108500  103500  108500
  4    2022-07-12  202906  106500  107000  103000  104000
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27  100128    6918    7041    6909    6984
  2996 2010-05-26  248234    7041    7041    6853    6965
  2997 2010-05-25  281181    6777    7050    6571    6909
  2998 2010-05-24  168649    6505    7003    6477    6871
  2999 2010-05-20   89596    6928    7069    6542    6683

  [3000 rows x 6 columns],
  '003410':              일자     거래량    시가    고가    저가    종가
  0    2022-07-18  327802  6220  6290  6210  6290
  1    2022-07-15  554727  6170  6230  6010  6210
  2    2022-07-14  577472  6220  6260  6150  6160
  3    2022-07-13  554488  6280  6300  6180  6220
  4    2022-07-12  581639  6470  6490  6230  6280
  ...         ...     ...   ...   ...   ...   ...
  2995 2010-05-27  311749  1149  1175  1149  1162
  2996 2010-05-26  361744  1170  1201  1149  1181
  2997 2010-05-25  791555  1253  1274  1144  1159
  2998 2010-05-24  151191  1272  1294  1270  1279
  2999 2010-05-20  156645  1313  1318  1270  1294

  [3000 rows x 6 columns],
  '010780':              일자     거래량     시가     고가     저가     종가
  0    2022-07-18   61481  38450  39900  38200  39300
  1    2022-07-15   35393  39100  39500  37600  38100
  2    2022-07-14   60675  37800  39700  37700  38800
  3    2022-07-13   45428  38650  38700  37500  38100
  4    2022-07-12   71609  39700  39800  37800  38500
  ...         ...     ...    ...    ...    ...    ...
  2995 2010-05-27  129096   5501   6076   5437   6076
  2996 2010-05-26   14484   5501   5501   5360   5424
  2997 2010-05-25   74104   5245   5501   5200   5488
  2998 2010-05-24   12992   5213   5475   5213   5373
  2999 2010-05-20   55738   5437   5526   5309   5373

  [3000 rows x 6 columns],
  '300720':             일자      거래량     시가     고가     저가     종가
  0   2022-07-18    66894  13050  13300  12800  13250
  1   2022-07-15   122495  13150  13250  12400  12850
  2   2022-07-14    41036  13350  13500  13050  13150
  3   2022-07-13    50291  13250  13600  12850  13550
  4   2022-07-12    49890  13400  13550  13000  13150
  ..         ...      ...    ...    ...    ...    ...
  968 2018-08-10   469820  12150  12300  11850  12150
  969 2018-08-09   413900  12150  12150  11500  11650
  970 2018-08-08   643900  12300  12600  11750  12150
  971 2018-08-07  1889920  12300  14250  11700  12150
  972 2018-08-06  2694870  14450  18400  11700  11900

  [973 rows x 6 columns]},
 'Metal': {'005490':              일자     거래량      시가      고가      저가      종가
  0    2022-07-18  273744  226000  227000  222000  226500
  1    2022-07-15  298831  225000  228000  221500  224000
  2    2022-07-14  310781  223000  225000  222000  223000
  3    2022-07-13  187735  223000  228500  223000  226500
  4    2022-07-12  252206  229500  229500  221000  223000
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27  391049  457000  470000  454500  464500
  2996 2010-05-26  427735  455000  463500  451000  454500
  2997 2010-05-25  420477  451000  457000  444500  446000
  2998 2010-05-24  381420  438500  457000  434000  455500
  2999 2010-05-20  347475  450000  450500  431000  434500

  [3000 rows x 6 columns],
  '010130':              일자     거래량      시가      고가      저가      종가
  0    2022-07-18   36699  451000  460000  447500  460000
  1    2022-07-15   20009  454000  455000  445000  450000
  2    2022-07-14   22931  454000  456000  448000  452000
  3    2022-07-13   39294  450000  457000  441000  454500
  4    2022-07-12   26706  463500  463500  453000  453500
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27  112336  186000  194000  184000  193000
  2996 2010-05-26   89574  186500  191000  184500  186000
  2997 2010-05-25  130851  186500  189500  180500  187500
  2998 2010-05-24  115544  182000  192500  181000  189500
  2999 2010-05-20  104735  189000  196000  184000  184000

  [3000 rows x 6 columns],
  '004020':              일자      거래량     시가     고가     저가     종가
  0    2022-07-18   382662  31700  32150  31350  32100
  1    2022-07-15   344704  31900  32000  30650  31400
  2    2022-07-14   320461  31450  31850  31200  31650
  3    2022-07-13   385061  31300  32250  31100  31750
  4    2022-07-12   540649  31950  32100  30700  31000
  ...         ...      ...    ...    ...    ...    ...
  2995 2010-05-27   870363  84200  88500  84000  87000
  2996 2010-05-26  1043037  82800  85500  82600  85500
  2997 2010-05-25   791281  83300  83600  79900  82100
  2998 2010-05-24   898953  79400  84600  79100  84300
  2999 2010-05-20   660850  79700  81900  79500  79700

  [3000 rows x 6 columns],
  '016380':              일자     거래량      시가      고가      저가      종가
  0    2022-07-18  499316   12400   12600   12300   12500
  1    2022-07-15  698279   12650   12700   12000   12200
  2    2022-07-14  649045   12200   12750   12200   12600
  3    2022-07-13  594763   12250   12650   12200   12400
  4    2022-07-12  956481   12700   13000   12200   12350
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27    6400  477056  492531  474922  487729
  2996 2010-05-26    7773  481325  489863  471720  480792
  2997 2010-05-25    8734  502136  505338  464249  477590
  2998 2010-05-24    5477  501603  512809  496267  510141

In [8]:
#kospi

# 3. 데이터셋 최신화
1. 최신 주가 데이터 읽고 업종 데이터셋 추가
2. 최신 코스피 지수 읽고 코스피 데이터셋 추가

In [9]:
from datetime import date,datetime
today = date.today()
today = today.isoformat()
today = today.replace('-','')
yesterday = int(today)-1
yesterday = str(yesterday)
print(yesterday, type(yesterday))
set_d = yesterday

20220718 <class 'str'>

In [10]:
today

'20220719'

In [11]:
set_d

'20220718'

# 최신 data 수집

In [12]:
df_sector_2 = {'Food':{},
          'Clothing' : {},
          'Chemical' : {},
          'Medicine' : {},
          'Non_Metal' : {},
          'Metal': {},
          'Machine' : {},
          'Electronic' : {},
          'Construction' : {},
          'Transport': {},
          'Distribution' : {},
          'Power': {},
          'Tele' : {},
          'Finance': {},
          'Brokerage' : {},
          'Insurer': {},
          'Service': {},
          'Manufacturer': {}}

In [13]:
def Add_Data(sector_name,stockcode):
    df = kiwoom.block_request("opt10081",
                          종목코드=stockcode,
                          기준일자=set_d,
                          수정주가구분=1,
                          output="주식일봉차트조회",
                          next=0)
    df = df[['일자','현재가','거래량','시가','고가','저가']]
    df2 = pd.DataFrame()
    df2['일자'] = pd.to_datetime(df['일자'])
    df2['종가'] = df['현재가'].astype(int)
    df2['거래량'] = df['거래량'].astype(int)
    df2['시가'] = df['시가'].astype(int)
    df2['고가'] = df['고가'].astype(int)
    df2['저가'] = df['저가'].astype(int)
    df_sector_2[sector_name][stockcode] = df2
    del df2

In [14]:
import time

In [15]:
#데이터 수집 자동화 코드
for sector_name, stockcode_list in sector.items():
    print(f'---------{sector_name}업종 데이터 수집----------')
    for stockcode in stockcode_list:
        # 주식항목이름
        stockname = kiwoom.GetMasterCodeName(stockcode)
        print(f'--------[{stockname}] 항목 데이터 수집---------')
        Add_Data(sector_name,stockcode)
        time.sleep(0.2) #time을 안넣어주면 중간에 종종 수집이 안되고 멈추는 경우가 발생

---------Food업종 데이터 수집----------
--------[CJ제일제당] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[오리온] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[하이트진로] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

TypeError: 'NoneType' object is not subscriptable

--------[농심] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[롯데칠성] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Clothing업종 데이터 수집----------
--------[F&F] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[LF] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[한섬] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[한세실업] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

TypeError: 'NoneType' object is not subscriptable

--------[대한방직] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Chemical업종 데이터 수집----------
--------[LG화학] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[SK이노베이션] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[S-Oil] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[LG생활건강] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[아모레퍼시픽] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

TypeError: 'NoneType' object is not subscriptable

---------Medicine업종 데이터 수집----------
--------[삼성바이오로직스] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[셀트리온] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[SK바이오사이언스] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[유한양행] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[한미약품] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Non_Metal업종 데이터 수집----------
--------[포스코케미칼] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[쌍용C&E] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[아이에스동서] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[한일시멘트] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Metal업종 데이터 수집----------
--------[POSCO홀딩스] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[고려아연] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

TypeError: 'NoneType' object is not subscriptable

--------[현대제철] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[KG스틸] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[동국제강] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Machine업종 데이터 수집----------
--------[두산에너빌리티] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[한온시스템] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[두산밥캣] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[씨에스윈드] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Electronic업종 데이터 수집----------
--------[삼성전자] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[SK하이닉스] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

TypeError: 'NoneType' object is not subscriptable

TypeError: 'NoneType' object is not subscriptable

--------[LG에너지솔루션] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

TypeError: 'NoneType' object is not subscriptable

--------[삼성SDI] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

TypeError: 'NoneType' object is not subscriptable

--------[LG전자] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Construction업종 데이터 수집----------
--------[현대건설] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[GS건설] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[대우건설] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[한전KPS] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Transport업종 데이터 수집----------
--------[HMM] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[대한항공] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[현대글로비스] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[한진칼] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[팬오션] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Distribution업종 데이터 수집----------
--------[삼성물산] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[롯데쇼핑] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[BGF리테일] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[이마트] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[신세계] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

TypeError: 'NoneType' object is not subscriptable

---------Power업종 데이터 수집----------
--------[한국전력] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[한국가스공사] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[서울가스] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

TypeError: 'NoneType' object is not subscriptable

---------Tele업종 데이터 수집----------
--------[SK텔레콤] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[KT] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[LG유플러스] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Finance업종 데이터 수집----------
--------[카카오뱅크] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[LG] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[삼성화재] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[카카오페이] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[미래에셋증권] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

TypeError: 'NoneType' object is not subscriptable

---------Brokerage업종 데이터 수집----------
--------[NH투자증권] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[삼성증권] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[메리츠증권] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[키움증권] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Insurer업종 데이터 수집----------
--------[삼성생명] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[DB손해보험] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[메리츠화재] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[현대해상] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Service업종 데이터 수집----------
--------[NAVER] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[카카오] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[크래프톤] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[삼성에스디에스] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[엔씨소프트] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
---------Manufacturer업종 데이터 수집----------
--------[현대차] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[기아] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

TypeError: 'NoneType' object is not subscriptable

--------[현대모비스] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[현대중공업] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[KT&G] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101
--------[삼성전기] 항목 데이터 수집---------
CommRqData opt10081 opt10081 0 0101

In [16]:
df_sector_2

{'Food': {'097950':             일자      종가    거래량      시가      고가      저가
  0   2022-07-18  391000  27816  396000  399000  389000
  1   2022-07-15  397500  40227  395000  401000  381000
  2   2022-07-14  402000  34230  399000  405500  395000
  3   2022-07-13  403000  50183  400000  407500  396500
  4   2022-07-12  398500  48509  389500  398500  388500
  ..         ...     ...    ...     ...     ...     ...
  595 2020-02-20  273500  37609  274000  274500  269000
  596 2020-02-19  274500  64463  272500  278000  272000
  597 2020-02-18  268500  43875  271500  271500  263500
  598 2020-02-17  271000  51552  274000  278500  269500
  599 2020-02-14  276000  64161  275500  279000  267000

  [600 rows x 6 columns],
  '271560':             일자      종가     거래량      시가      고가      저가
  0   2022-07-18  104000  140201  106500  107000  103500
  1   2022-07-15  106500   90893  108500  108500  104000
  2   2022-07-14  107000  138391  108000  109500  106000
  3   2022-07-13  109000  203292  108000  113000  107500
  4   2022-07-12  107500  139104  105000  108000  105000
  ..         ...     ...     ...     ...     ...     ...
  595 2020-02-20  102500  161730  107000  107500  102000
  596 2020-02-19  108000   41823  107500  109500  106500
  597 2020-02-18  107500   44815  109500  109500  107500
  598 2020-02-17  111000   72323  109500  112000  108000
  599 2020-02-14  108500   54337  108500  109500  108000

  [600 rows x 6 columns],
  '000080':             일자     종가      거래량     시가     고가     저가
  0   2022-07-18  29600   173327  29250  29750  29200
  1   2022-07-15  29300   210606  30000  30000  28950
  2   2022-07-14  29850   202011  30000  30350  29550
  3   2022-07-13  29900   169173  29400  30200  29250
  4   2022-07-12  29300   204824  29650  29900  29100
  ..         ...    ...      ...    ...    ...    ...
  595 2020-02-20  31250   955674  31550  32750  31000
  596 2020-02-19  31500  1005051  29300  31750  29250
  597 2020-02-18  29250   223376  29550  29550  29050
  598 2020-02-17  29700   261958  29700  30350  29400
  599 2020-02-14  29500   220440  29200  29900  29200

  [600 rows x 6 columns],
  '004370':             일자      종가    거래량      시가      고가      저가
  0   2022-07-18  279000  14217  281500  282500  278000
  1   2022-07-15  280500  18808  283000  284000  277500
  2   2022-07-14  280500  23636  281500  286500  278000
  3   2022-07-13  283000  29557  283500  291500  280000
  4   2022-07-12  281500  12091  281500  284500  279000
  ..         ...     ...    ...     ...     ...     ...
  595 2020-02-20  275500  55567  276000  280500  270500
  596 2020-02-19  274000  73065  263000  275500  261000
  597 2020-02-18  262000  24548  260000  262500  258000
  598 2020-02-17  260000  38548  261500  264000  257500
  599 2020-02-14  257000  33829  257500  262000  255000

  [600 rows x 6 columns],
  '005300':             일자      종가    거래량      시가      고가      저가
  0   2022-07-18  168500  29958  170500  172000  167500
  1   2022-07-15  171000  24548  173500  173500  165000
  2   2022-07-14  172000  21958  174000  176000  171000
  3   2022-07-13  177000  25202  171000  177000  169000
  4   2022-07-12  170000  40961  175500  175500  166500
  ..         ...     ...    ...     ...     ...     ...
  595 2020-02-20  122000  14437  123000  124500  120500
  596 2020-02-19  123000   6494  126500  126500  123000
  597 2020-02-18  125000  11682  122500  125000  122000
  598 2020-02-17  123500  16657  125000  125000  122500
  599 2020-02-14  125000  12960  127500  127500  124500

  [600 rows x 6 columns]},
 'Clothing': {'383220':             일자      종가      거래량      시가      고가      저가
  0   2022-07-18  139000    61299  140500  142000  137000
  1   2022-07-15  140500   122342  136000  142000  133500
  2   2022-07-14  136000    73186  136000  140000  135500
  3   2022-07-13  137500    93743  130500  139000  130000
  4   2022-07-12  129500    76939  133000  135000  128000
  ..         ...     ...      ...     ...     ...     ...
  282 2021-05-27   87300   349185   86000   87400   84400
  283 2021-05-26   87300   503055   86000   88600   81200
  284 2021-05-25   86000   514200   88600   89000   83200
  285 2021-05-24   89000   879900   83600   91000   81500
  286 2021-05-21   82500  2774180   72000   93600   72000

  [287 rows x 6 columns],
  '093050':             일자     종가     거래량     시가     고가     저가
  0   2022-07-18  15700   21894  15350  15750  15250
  1   2022-07-15  15200   41203  15350  15500  15050
  2   2022-07-14  15500    9989  15500  15650  15350
  3   2022-07-13  15500   68720  15200  15650  14900
  4   2022-07-12  15200   74680  15800  15850  14900
  ..         ...    ...     ...    ...    ...    ...
  595 2020-02-20  13700  165535  14050  14200  13650
  596 2020-02-19  14000  142040  14550  14550  13900
  597 2020-02-18  14450  101898  14400  14550  14250
  598 2020-02-17  14450  261979  14700  14700  14150
  599 2020-02-14  14650  129683  15050  15100  14600

  [600 rows x 6 columns],
  '020000':             일자     종가     거래량     시가     고가     저가
  0   2022-07-18  29500   58144  29200  29750  28850
  1   2022-07-15  28550   54818  29300  29300  28150
  2   2022-07-14  28950   75943  28750  29450  28500
  3   2022-07-13  29200   70492  28750  29350  28650
  4   2022-07-12  28500  143764  30500  30500  28200
  ..         ...    ...     ...    ...    ...    ...
  595 2020-02-20  26950   57727  27400  27700  26950
  596 2020-02-19  27400   57061  27900  28200  27400
  597 2020-02-18  27650   61505  27750  28200  27600
  598 2020-02-17  28200   49473  27700  28300  27650
  599 2020-02-14  27650   74250  28250  28450  27650

  [600 rows x 6 columns],
  '105630':             일자     종가     거래량     시가     고가     저가
  0   2022-07-18  16000  219515  15800  16150  15550
  1   2022-07-15  15650  197073  15850  16050  15400
  2   2022-07-14  15750  305130  15950  16200  15650
  3   2022-07-13  16100  169447  15650  16200  15650
  4   2022-07-12  15800  464850  16450  16500  15500
  ..         ...    ...     ...    ...    ...    ...
  595 2020-02-20  14600  106809  14900  14900  14550
  596 2020-02-19  14900  146827  15300  15350  14800
  597 2020-02-18  15050  123239  15350  15550  14900
  598 2020-02-17  15350   68118  15600  15600  15250
  599 2020-02-14  15550   69484  15750  15800  15500

  [600 rows x 6 columns],
  '001070':             일자     종가    거래량     시가     고가     저가
  0   2022-07-18  49450   2318  48850  49600  48850
  1   2022-07-15  49150  45220  48750  49150  48000
  2   2022-07-14  49200   3502  49250  49400  48900
  3   2022-07-13  49350   5746  49600  49600  48750
  4   2022-07-12  49350   5884  48800  49500  48700
  ..         ...    ...    ...    ...    ...    ...
  595 2020-02-20  19900   4547  20200  20200  19600
  596 2020-02-19  20050   1777  19750  20200  19750
  597 2020-02-18  20050   6137  20250  20250  19650
  598 2020-02-17  20000   1080  20350  20350  19900
  599 2020-02-14  20200    685  20300  20300  19850

  [600 rows x 6 columns]},
 'Chemical': {'051910':             일자      종가     거래량      시가      고가      저가
  0   2022-07-18  515000  160879  514000  517000  505000
  1   2022-07-15  512000  229151  529000  530000  507000
  2   2022-07-14  530000  226078  515000  533000  514000
  3   2022-07-13  517000  209137  516000  524000  511000
  4   2022-07-12  514000  171869  519000  522000  509000
  ..         ...     ...     ...     ...     ...     ...
  595 2020-02-20  419000  482732  408500  422000  406000
  596 2020-02-19  404000  766920  420500  421500  403500
  597 2020-02-18  418000  366288  418000  422000  415000
  598 2020-02-17  419500  514355  420500  422500  409000
  599 2020-02-14  413500  301730  416500  420000  412000

  [600 rows x 6 columns],
  '096770':             일자      종가      거래량      시가      고가      저가
  0   2022-07-18  173000   245629  173500  174000  170000
  1   2022-07-15  170500   329142  172500  174000  166500
  2   2022-07-14  172500   573528  164500  174500  164500
  3   2022-07-13  166500   515483  162500  166500  158500
  4   2022-07-12  165000   343170  167500  170000  164000
  ..         ...     ...      ...     ...     ...     ...
  595 2020-02-20  133000   437224  135500  136000  132000
  596 2020-02-19  135000   432028  137500  138000  134000
  597 2020-02-18  136500   524500  136500  140000  134500
  598 2020-02-17  136500  1037542  129000  138000  128000
  599 2020-02-14  137500   373925  140000  140000  137500

  [600 rows x 6 columns],
  '010950':             일자     종가     거래량     시가     고가     저가
  0   2022-07-18  92300  373881  89600  92300  88000
  1   2022-07-15  88900  232955  90700  90800  88300
  2   2022-07-14  90600  255242  89900  91800  89000
  3   2022-07-13  89900  476706  89100  90300  86600
  4   2022-07-12  91200  242954  91700  92800  89600
  ..         ...    ...     ...    ...    ...    ...
  595 2020-02-20  76100  252950  77000  78200  76000
  596 2020-02-19  76800  227356  78900  78900  76500
  597 2020-02-18  77900  379052  77900  79200  76800
  598 2020-02-17  77800  312738  76300  78100  75600
  599 2020-02-14  76200  304735  77100  77300  76100

  [600 rows x 6 columns],
  '051900':             일자       종가    거래량       시가       고가       저가
  0   2022-07-18   717000  32283   713000   725000   712000
  1   2022-07-15   711000  38351   726000   727000   700000
  2   2022-07-14   720000  69383   705000   726000   705000
  3   2022-07-13   715000  81869   710000   731000   704000
  4   2022-07-12   708000  42882   704000   713000   697000
  ..         ...      ...    ...      ...      ...      ...
  595 2020-02-20  1372000  58831  1419000  1426000  1366000
  596 2020-02-19  1410000  26329  1412000  1415000  1390000
  597 2020-02-18  1390000  34561  1388000  1403000  1380000
  598 2020-02-17  1397000  27878  1389000  1409000  1385000
  599 2020-02-14  1389000  42012  1402000  1406000  1386000

  [600 rows x 6 columns],
  '090430':             일자      종가     거래량      시가      고가      저가
  0   2022-07-18  134000  117689  134500  136500  133000
  1   2022-07-15  133500  127723  135000  136000  131000
  2   2022-07-14  134500  172436  135000  138000  134000
  3   2022-07-13  136000  195845  131000  137500  130000
  4   2022-07-12  130000  117074  130000  131000  128500
  ..         ...     ...     ...     ...     ...     ...
  595 2020-02-20  183500  418611  188000  190000  182500
  596 2020-02-19  188000  272526  190000  192500  185000
  597 2020-02-18  190000  200139  194500  194500  189000
  598 2020-02-17  194500  402462  194500  198500  191000
  599 2020-02-14  190500  200811  187500  191500  187000

  [600 rows x 6 columns]},
 'Medicine': {'207940':             일자      종가     거래량      시가      고가      저가
  0   2022-07-18  810000   46011  813000  817000  803000
  1   2022-07-15  817000   38951  826000  828000  813000
  2   2022-07-14  825000   57296  823000  829000  813000
  3   2022-07-13  832000   42820  834000  835000  828000
  4   2022-07-12  834000   64634  829000  834000  815000
  ..         ...     ...     ...     ...     ...     ...
  595 2020-02-20  492668  264403  501068  507986  489209
  596 2020-02-19  499092  177674  506998  510951  494150
  597 2020-02-18  506998  122913  507986  511939  504033
  598 2020-02-17  512928  147678  522811  522811  510951
  599 2020-02-14  522811   78304  523799  526764  521822

  [600 rows x 6 columns],
  '068270':             일자      종가     거래량      시가      고가      저가
  0   2022-07-18  183000  366865  187500  187500  180000
  1   2022-07-15  186500  389861  189500  189500  183000
  2   2022-07-14  189000  420165  190000  190500  186500
  3   2022-07-13  190000  513629  188500  193000  187500
  4   2022-07-12  187500  423296  187500  191500  185000
  ..         ...     ...     ...     ...     ...     ...
  595 2020-02-20  172520  781504  175412  175894  170111
  596 2020-02-19  174930  766613  179267  180231  173484
  597 2020-02-18  177821  571076  180231  180231  175894
  598 2020-02-17  179267  828248  175894  180713  175894
  599 2020-02-14  174448  669791  171556  175412  171075

  [600 rows x 6 columns],
  '302440':             일자      종가       거래량      시가      고가      저가
  0   2022-07-18  134000   1449037  138000  138500  129500
  1   2022-07-15  137000   1902745  143500  145500  135500
  2   2022-07-14  150000   1350020  143000  150000  139500
  3   2022-07-13  142500   1906620  153500  156500  141000
  4   2022-07-12  147500   1555918  149000  152000  144500
  ..         ...     ...       ...     ...     ...     ...
  326 2021-03-24  136500   1707179  138000  142000  135500
  327 2021-03-23  140500   2980953  147000  149500  138000
  328 2021-03-22  144000   4675116  161000  162500  143000
  329 2021-03-19  166500  12468903  184000  190000  166000
  330 2021-03-18  169000    876189  130000  169000  130000

  [331 rows x 6 columns],
  '000100':             일자     종가     거래량     시가     고가     저가
  0   2022-07-18  57700  100369  57400  58100  57300
  1   2022-07-15  57300  126581  57500  57800  56600
  2   2022-07-14  57500  192395  56600  57800  56300
  3   2022-07-13  57100  142481  57500  57900  56900
  4   2022-07-12  57400  136416  57400  57700  56300
  ..         ...    ...     ...    ...    ...    ...
  595 2020-02-20  40304  149318  40304  40670  40121
  596 2020-02-19  40487  156447  40670  40670  40121
  597 2020-02-18  40304  118111  40304  40487  40029
  598 2020-02-17  40396  141021  40579  40854  40304
  599 2020-02-14  40579  150044  41128  41220  40579

  [600 rows x 6 columns],
  '128940':             일자      종가    거래량      시가      고가      저가
  0   2022-07-18  306000  78290  312000  314000  298000
  1   2022-07-15  314000  32823  312000  318000  307000
  2   2022-07-14  311000  58417  317000  318000  306000
  3   2022-07-13  321000  29371  322500  323500  316500
  4   2022-07-12  321000  26722  321000  324500  315000
  ..         ...     ...    ...     ...     ...     ...
  595 2020-02-20  270603  43604  275418  275418  270122
  596 2020-02-19  275418  39406  277826  279270  274455
  597 2020-02-18  274937  45992  277826  279270  273974
  598 2020-02-17  278307  42768  279752  283604  278307
  599 2020-02-14  281678  37481  283122  285048  280715

  [600 rows x 6 columns]},
 'Non_Metal': {'003670':             일자      종가     거래량      시가      고가      저가
  0   2022-07-18  112000  235294  110000  112500  107000
  1   2022-07-15  109000  156374  110500  110500  108000
  2   2022-07-14  110000  317600  109000  112000  108500
  3   2022-07-13  108500  238916  104000  108500  103500
  4   2022-07-12  104000  202906  106500  107000  103000
  ..         ...     ...     ...     ...     ...     ...
  595 2020-02-20   58099  689808   58193   58287   56222
  596 2020-02-19   57818  632661   59320   59601   56504
  597 2020-02-18   58381  492692   58756   59789   58005
  598 2020-02-17   58850  455091   60070   60070   58756
  599 2020-02-14   59601  378189   59789   60258   59038

  [600 rows x 6 columns],
  '003410':             일자    종가      거래량    시가    고가    저가
  0   2022-07-18  6290   327802  6220  6290  6210
  1   2022-07-15  6210   554727  6170  6230  6010
  2   2022-07-14  6160   577472  6220  6260  6150
  3   2022-07-13  6220   554488  6280  6300  6180
  4   2022-07-12  6280   581639  6470  6490  6230
  ..         ...   ...      ...   ...   ...   ...
  595 2020-02-20  5165  1057469  5269  5280  5154
  596 2020-02-19  5275   719606  5308  5324  5236
  597 2020-02-18  5302   694658  5308  5368  5269
  598 2020-02-17  5275  1044831  5352  5368  5258
  599 2020-02-14  5352  1116144  5401  5406  5341

  [600 rows x 6 columns],
  '010780':             일자     종가    거래량     시가     고가     저가
  0   2022-07-18  39300  61481  38450  39900  38200
  1   2022-07-15  38100  35393  39100  39500  37600
  2   2022-07-14  38800  60675  37800  39700  37700
  3   2022-07-13  38100  45428  38650  38700  37500
  4   2022-07-12  38500  71609  39700  39800  37800
  ..         ...    ...    ...    ...    ...    ...
  595 2020-02-20  28550  40636  28750  29250  28550
  596 2020-02-19  28900  30715  28900  29300  28700
  597 2020-02-18  28850  34950  29450  29450  28850
  598 2020-02-17  29350  38366  29600  29600  28800
  599 2020-02-14  29250  87489  29850  30300  29100

  [600 rows x 6 columns],
  '300720':             일자     종가     거래량     시가     고가     저가
  0   2022-07-18  13250   66894  13050  13300  12800
  1   2022-07-15  12850  122495  13150  13250  12400
  2   2022-07-14  13150   41036  13350  13500  13050
  3   2022-07-13  13550   50291  13250  13600  12850
  4   2022-07-12  13150   49890  13400  13550  13000
  ..         ...    ...     ...    ...    ...    ...
  595 2020-02-20   7740   44960   7800   7910   7630
  596 2020-02-19   7900   36180   8070   8070   7760
  597 2020-02-18   8030   22090   8110   8140   7940
  598 2020-02-17   8100   44690   8200   8200   7950
  599 2020-02-14   8100   45130   8170   8330   8080

  [600 rows x 6 columns]},
 'Metal': {'005490':             일자      종가     거래량      시가      고가      저가
  0   2022-07-18  226500  273744  226000  227000  222000
  1   2022-07-15  224000  298831  225000  228000  221500
  2   2022-07-14  223000  310781  223000  225000  222000
  3   2022-07-13  226500  187735  223000  228500  223000
  4   2022-07-12  223000  252206  229500  229500  221000
  ..         ...     ...     ...     ...     ...     ...
  595 2020-02-20  215500  203605  217000  218500  214000
  596 2020-02-19  216500  190216  219000  220000  216000
  597 2020-02-18  217500  181856  218500  219000  216500
  598 2020-02-17  218500  281494  218500  220000  216500
  599 2020-02-14  219500  217419  219000  220000  217500

  [600 rows x 6 columns],
  '010130':             일자      종가     거래량      시가      고가      저가
  0   2022-07-18  460000   36699  451000  460000  447500
  1   2022-07-15  450000   20009  454000  455000  445000
  2   2022-07-14  452000   22931  454000  456000  448000
  3   2022-07-13  454500   39294  450000  457000  441000
  4   2022-07-12  453500   26706  463500  463500  453000
  ..         ...     ...     ...     ...     ...     ...
  595 2020-02-20  448000   64515  458000  461000  448000
  596 2020-02-19  461000  110265  445500  463500  441000
  597 2020-02-18  437000   42204  439500  446500  436000
  598 2020-02-17  443500   72789  431500  448000  430500
  599 2020-02-14  430500   56123  421000  434000  418500

  [600 rows x 6 columns],
  '004020':             일자     종가     거래량     시가     고가     저가
  0   2022-07-18  32100  382662  31700  32150  31350
  1   2022-07-15  31400  344704  31900  32000  30650
  2   2022-07-14  31650  320461  31450  31850  31200
  3   2022-07-13  31750  385061  31300  32250  31100
  4   2022-07-12  31000  540649  31950  32100  30700
  ..         ...    ...     ...    ...    ...    ...
  595 2020-02-20  27650  509621  28450  28550  27600
  596 2020-02-19  28300  365808  28850  29050  28250
  597 2020-02-18  28800  237354  28850  29000  28400
  598 2020-02-17  28950  228742  28750  29150  28700
  599 2020-02-14  29050  425929  29650  29650  28850

  [600 rows x 6 columns],
  '016380':             일자     종가     거래량     시가     고가     저가
  0   2022-07-18  12500  499316  12400  12600  12300
  1   2022-07-15  12200  698279  12650  12700  12000
  2   2022-07-14  12600  649045  12200  12750  12200
  3   2022-07-13  12400  594763  12250  12650  12200
  4   2022-07-12  12350  956481  12700  13000  12200
  ..         ...    ...     ...    ...    ...    ...
  595 2020-02-20   7200    9687   7140   7340   7140
  596 2020-02-19   7270    3535   7190   7310   7150
  597 2020-02-18   7240    4285   7210   7300   7180
  598 2020-02-17   7210    5289   7430   7450   7150
  599 2020-02-14   7250    5486   7220   7370   7200

  [600 rows x 6 columns],
  '001230':             일자     종가     거래량     시가     고가     저가
  0   2022-07-18  12400  386195  12150  12450  12000
  1   2022-07-15  11950  517383  12200  12250  11550
  2   2022-07-14  12100  415286  12200  12300  12000
  3   2022-07-13  12300  364782  12250  12500  12100
  4   2022-07-12  12300  437764  12600  12700  12100

# 이전 data와 최신 data 병합(최신화)

In [15]:
'''
df_sector_3 = {'Food':{},
          'Clothing' : {},
          'Chemical' : {},
          'Medicine' : {},
          'Non_Metal' : {},
          'Metal': {},
          'Machine' : {},
          'Electronic' : {},
          'Construction' : {},
          'Transport': {},
          'Distribution' : {},
          'Power': {},
          'Tele' : {},
          'Finance': {},
          'Brokerage' : {},
          'Insurer': {},
          'Service': {},
          'Manufacturer': {}}
'''

In [17]:
for sector_name, df_dict in df_sector.items():
    for stockcode, df in df_dict.items():
        df = pd.concat([df_sector_2[sector_name][stockcode],df])
        df=df.drop_duplicates(subset=['일자'])
        df = df.reset_index(drop=True)
        df_sector[sector_name][stockcode] = df

In [18]:
df_sector

{'Food': {'097950':              일자      종가    거래량      시가      고가      저가
  0    2022-07-18  391000  27816  396000  399000  389000
  1    2022-07-15  397500  40227  395000  401000  381000
  2    2022-07-14  402000  34230  399000  405500  395000
  3    2022-07-13  403000  50183  400000  407500  396500
  4    2022-07-12  398500  48509  389500  398500  388500
  ...         ...     ...    ...     ...     ...     ...
  2995 2010-05-27  211500  46323  208500  212000  205000
  2996 2010-05-26  213500  77164  212500  213500  203500
  2997 2010-05-25  213000  71590  210000  216500  199000
  2998 2010-05-24  211000  28817  211000  218500  210500
  2999 2010-05-20  214000  57088  214500  220000  213500

  [3000 rows x 6 columns],
  '271560':              일자      종가      거래량      시가      고가      저가
  0    2022-07-18  104000   140201  106500  107000  103500
  1    2022-07-15  106500    90893  108500  108500  104000
  2    2022-07-14  107000   138391  108000  109500  106000
  3    2022-07-13  109000   203292  108000  113000  107500
  4    2022-07-12  107500   139104  105000  108000  105000
  ...         ...     ...      ...     ...     ...     ...
  1231 2017-07-13   81600   218138   83400   84000   80800
  1232 2017-07-12   83500   238407   83700   84600   80000
  1233 2017-07-11   82800   422303   88000   88000   82700
  1234 2017-07-10   88000   840451   82300   88000   81000
  1235 2017-07-07   82300  1619864   87100   89700   75700

  [1236 rows x 6 columns],
  '000080':              일자     종가     거래량     시가     고가     저가
  0    2022-07-18  29600  173327  29250  29750  29200
  1    2022-07-15  29300  210606  30000  30000  28950
  2    2022-07-14  29850  202011  30000  30350  29550
  3    2022-07-13  29900  169173  29400  30200  29250
  4    2022-07-12  29300  204824  29650  29900  29100
  ...         ...    ...     ...    ...    ...    ...
  2995 2010-05-27  32050  262075  31400  34900  31150
  2996 2010-05-26  31400  123593  31300  31400  30550
  2997 2010-05-25  30850  111451  30800  31200  30400
  2998 2010-05-24  30850   81369  30600  31050  30300
  2999 2010-05-20  30550   73176  30950  31300  30450

  [3000 rows x 6 columns],
  '004370':              일자      종가    거래량      시가      고가      저가
  0    2022-07-18  279000  14217  281500  282500  278000
  1    2022-07-15  280500  18808  283000  284000  277500
  2    2022-07-14  280500  23636  281500  286500  278000
  3    2022-07-13  283000  29557  283500  291500  280000
  4    2022-07-12  281500  12091  281500  284500  279000
  ...         ...     ...    ...     ...     ...     ...
  2995 2010-05-27  228000   8793  227000  230000  225000
  2996 2010-05-26  227500  14811  223500  230500  222500
  2997 2010-05-25  223500  10944  227000  227000  223000
  2998 2010-05-24  228000   6671  228500  228500  226000
  2999 2010-05-20  227000   9735  225000  228000  222500

  [3000 rows x 6 columns],
  '005300':              일자      종가    거래량      시가      고가      저가
  0    2022-07-18  168500  29958  170500  172000  167500
  1    2022-07-15  171000  24548  173500  173500  165000
  2    2022-07-14  172000  21958  174000  176000  171000
  3    2022-07-13  177000  25202  171000  177000  169000
  4    2022-07-12  170000  40961  175500  175500  166500
  ...         ...     ...    ...     ...     ...     ...
  2995 2010-05-27   78500  18190   77100   79000   77000
  2996 2010-05-26   78500  22910   76200   79700   76200
  2997 2010-05-25   76900  30720   80300   80800   76600
  2998 2010-05-24   80800  18640   81500   82700   80400
  2999 2010-05-20   82300  16180   81500   83100   81200

  [3000 rows x 6 columns]},
 'Clothing': {'383220':             일자      종가      거래량      시가      고가      저가
  0   2022-07-18  139000    61299  140500  142000  137000
  1   2022-07-15  140500   122342  136000  142000  133500
  2   2022-07-14  136000    73186  136000  140000  135500
  3   2022-07-13  137500    93743  130500  139000  130000
  4   2022-07-12  129500    76939  133000  135000  128000
  ..         ...     ...      ...     ...     ...     ...
  282 2021-05-27   87300   349185   86000   87400   84400
  283 2021-05-26   87300   503055   86000   88600   81200
  284 2021-05-25   86000   514200   88600   89000   83200
  285 2021-05-24   89000   879900   83600   91000   81500
  286 2021-05-21   82500  2774180   72000   93600   72000

  [287 rows x 6 columns],
  '093050':              일자     종가     거래량     시가     고가     저가
  0    2022-07-18  15700   21894  15350  15750  15250
  1    2022-07-15  15200   41203  15350  15500  15050
  2    2022-07-14  15500    9989  15500  15650  15350
  3    2022-07-13  15500   68720  15200  15650  14900
  4    2022-07-12  15200   74680  15800  15850  14900
  ...         ...    ...     ...    ...    ...    ...
  2995 2010-05-27  25700  269920  26000  26000  25050
  2996 2010-05-26  25750   95745  26100  26400  25700
  2997 2010-05-25  26400  143000  25850  26400  24850
  2998 2010-05-24  26300   64143  25100  26350  25100
  2999 2010-05-20  25750   96811  26800  27300  25750

  [3000 rows x 6 columns],
  '020000':              일자     종가     거래량     시가     고가     저가
  0    2022-07-18  29500   58144  29200  29750  28850
  1    2022-07-15  28550   54818  29300  29300  28150
  2    2022-07-14  28950   75943  28750  29450  28500
  3    2022-07-13  29200   70492  28750  29350  28650
  4    2022-07-12  28500  143764  30500  30500  28200
  ...         ...    ...     ...    ...    ...    ...
  2995 2010-05-27  13950  161885  14200  14500  13800
  2996 2010-05-26  14400   54425  14400  14550  14000
  2997 2010-05-25  14400  146466  14500  14650  13600
  2998 2010-05-24  14550   83351  15000  15100  14450
  2999 2010-05-20  15050  143175  15000  15200  14750

  [3000 rows x 6 columns],
  '105630':              일자     종가     거래량     시가     고가     저가
  0    2022-07-18  16000  219515  15800  16150  15550
  1    2022-07-15  15650  197073  15850  16050  15400
  2    2022-07-14  15750  305130  15950  16200  15650
  3    2022-07-13  16100  169447  15650  16200  15650
  4    2022-07-12  15800  464850  16450  16500  15500
  ...         ...    ...     ...    ...    ...    ...
  2995 2010-05-27   6350  170703   6155   6380   5855
  2996 2010-05-26   6230  132346   5967   6298   5855
  2997 2010-05-25   5832  179423   5847   6147   5630
  2998 2010-05-24   5832  121985   6080   6305   5832
  2999 2010-05-20   6080  107345   6252   6418   5915

  [3000 rows x 6 columns],
  '001070':              일자     종가    거래량     시가     고가     저가
  0    2022-07-18  49450   2318  48850  49600  48850
  1    2022-07-15  49150  45220  48750  49150  48000
  2    2022-07-14  49200   3502  49250  49400  48900
  3    2022-07-13  49350   5746  49600  49600  48750
  4    2022-07-12  49350   5884  48800  49500  48700
  ...         ...    ...    ...    ...    ...    ...
  2995 2010-05-27   5230   6150   5180   5400   5100
  2996 2010-05-26   5090  14905   4970   5100   4810
  2997 2010-05-25   4800  44500   5280   5290   4710
  2998 2010-05-24   5400   9055   5330   5520   5230
  2999 2010-05-20   5480   6150   5480   5640   5360

  [3000 rows x 6 columns]},
 'Chemical': {'051910':              일자      종가     거래량      시가      고가      저가
  0    2022-07-18  515000  160879  514000  517000  505000
  1    2022-07-15  512000  229151  529000  530000  507000
  2    2022-07-14  530000  226078  515000  533000  514000
  3    2022-07-13  517000  209137  516000  524000  511000
  4    2022-07-12  514000  171869  519000  522000  509000
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27  272000  305893  265000  275000  263500
  2996 2010-05-26  268500  423060  261500  271000  259500
  2997 2010-05-25  262000  492229  260000  264000  249500
  2998 2010-05-24  264500  244818  260000  265000  258000
  2999 2010-05-20  265000  450153  268500  277500  258500

  [3000 rows x 6 columns],
  '096770':              일자      종가     거래량      시가      고가      저가
  0    2022-07-18  173000  245629  173500  174000  170000
  1    2022-07-15  170500  329142  172500  174000  166500
  2    2022-07-14  172500  573528  164500  174500  164500
  3    2022-07-13  166500  515483  162500  166500  158500
  4    2022-07-12  165000  343170  167500  170000  164000
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27  100500  904128   97300  101500   96500
  2996 2010-05-26   97100  942247   99900   99900   94300
  2997 2010-05-25   98400  625613  100000  100500   96400
  2998 2010-05-24  101000  639648   98000  102500   97700
  2999 2010-05-20   98800  905124  100500  103500   98200

  [3000 rows x 6 columns],
  '010950':              일자     종가     거래량     시가     고가     저가
  0    2022-07-18  92300  373881  89600  92300  88000
  1    2022-07-15  88900  232955  90700  90800  88300
  2    2022-07-14  90600  255242  89900  91800  89000
  3    2022-07-13  89900  476706  89100  90300  86600
  4    2022-07-12  91200  242954  91700  92800  89600
  ...         ...    ...     ...    ...    ...    ...
  2995 2010-05-27  49150  346735  49600  49700  49000
  2996 2010-05-26  49650  195898  50000  51100  49650
  2997 2010-05-25  49800  363444  51600  51600  49700
  2998 2010-05-24  51700  247220  51700  52800  51100
  2999 2010-05-20  51800  257372  51700  52400  51500

  [3000 rows x 6 columns],
  '051900':              일자      종가    거래량      시가      고가      저가
  0    2022-07-18  717000  32283  713000  725000  712000
  1    2022-07-15  711000  38351  726000  727000  700000
  2    2022-07-14  720000  69383  705000  726000  705000
  3    2022-07-13  715000  81869  710000  731000  704000
  4    2022-07-12  708000  42882  704000  713000  697000
  ...         ...     ...    ...     ...     ...     ...
  2995 2010-05-27  306000  43499  305000  309500  301000
  2996 2010-05-26  305500  23804  302000  309000  302000
  2997 2010-05-25  304000  46193  306000  308000  298000
  2998 2010-05-24  309000  44761  304000  311000  303500
  2999 2010-05-20  310500  77320  314000  316000  307000

  [3000 rows x 6 columns],
  '090430':              일자      종가     거래량      시가      고가      저가
  0    2022-07-18  134000  117689  134500  136500  133000
  1    2022-07-15  133500  127723  135000  136000  131000
  2    2022-07-14  134500  172436  135000  138000  134000
  3    2022-07-13  136000  195845  131000  137500  130000
  4    2022-07-12  130000  117074  130000  131000  128500
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27   91000  139430   90200   92500   89100
  2996 2010-05-26   91500  132680   90000   91500   89000
  2997 2010-05-25   89000  266440   88100   90900   86300
  2998 2010-05-24   88900   91560   88500   90600   88100
  2999 2010-05-20   88900  125390   88000   90300   87500

  [3000 rows x 6 columns]},
 'Medicine': {'207940':              일자      종가      거래량      시가      고가      저가
  0    2022-07-18  810000    46011  813000  817000  803000
  1    2022-07-15  817000    38951  826000  828000  813000
  2    2022-07-14  825000    57296  823000  829000  813000
  3    2022-07-13  832000    42820  834000  835000  828000
  4    2022-07-12  834000    64634  829000  834000  815000
  ...         ...     ...      ...     ...     ...     ...
  1393 2016-11-16  168011  1680639  166529  170976  161587
  1394 2016-11-15  164058  2623646  176906  179376  160599
  1395 2016-11-14  173447  3012422  163070  175423  163070
  1396 2016-11-11  159610  8236911  147751  184318  140339
  1397 2016-11-10  142315  7264007  133421  146268  124032

  [1398 rows x 6 columns],
  '068270':              일자      종가      거래량      시가      고가      저가
  0    2022-07-18  183000   366865  187500  187500  180000
  1    2022-07-15  186500   389861  189500  189500  183000
  2    2022-07-14  189000   420165  190000  190500  186500
  3    2022-07-13  190000   513629  188500  193000  187500
  4    2022-07-12  187500   423296  187500  191500  185000
  ...         ...     ...      ...     ...     ...     ...
  2995 2010-05-27   17772  1340352   17150   17772   16928
  2996 2010-05-26   17417  1753427   17194   17461   16661
  2997 2010-05-25   17061  2506439   17905   18039   16928
  2998 2010-05-24   18305  2333436   17683   18305   17283
  2999 2010-05-20   18216  3272264   19682   19816   17816

  [3000 rows x 6 columns],
  '302440':             일자      종가       거래량      시가      고가      저가
  0   2022-07-18  134000   1449037  138000  138500  129500
  1   2022-07-15  137000   1902745  143500  145500  135500
  2   2022-07-14  150000   1350020  143000  150000  139500
  3   2022-07-13  142500   1906620  153500  156500  141000
  4   2022-07-12  147500   1555918  149000  152000  144500
  ..         ...     ...       ...     ...     ...     ...
  326 2021-03-24  136500   1707179  138000  142000  135500
  327 2021-03-23  140500   2980953  147000  149500  138000
  328 2021-03-22  144000   4675116  161000  162500  143000
  329 2021-03-19  166500  12468903  184000  190000  166000
  330 2021-03-18  169000    876189  130000  169000  130000

  [331 rows x 6 columns],
  '000100':              일자     종가     거래량     시가     고가     저가
  0    2022-07-18  57700  100369  57400  58100  57300
  1    2022-07-15  57300  126581  57500  57800  56600
  2    2022-07-14  57500  192395  56600  57800  56300
  3    2022-07-13  57100  142481  57500  57900  56900
  4    2022-07-12  57400  136416  57400  57700  56300
  ...         ...    ...     ...    ...    ...    ...
  2995 2010-05-27  21182  308756  20741  21403  20520
  2996 2010-05-26  20668  581890  21477  21771  20668
  2997 2010-05-25  21403  379742  22212  22359  21256
  2998 2010-05-24  22286   85588  22212  22653  22212
  2999 2010-05-20  22359  221373  22506  22727  22286

  [3000 rows x 6 columns],
  '128940':              일자      종가     거래량      시가      고가      저가
  0    2022-07-18  306000   78290  312000  314000  298000
  1    2022-07-15  314000   32823  312000  318000  307000
  2    2022-07-14  311000   58417  317000  318000  306000
  3    2022-07-13  321000   29371  322500  323500  316500
  4    2022-07-12  321000   26722  321000  324500  315000
  ...         ...     ...     ...     ...     ...     ...
  2946 2010-08-05   56654  114537   59552   59552   56268
  2947 2010-08-04   58715   99727   58715   60002   55367
  2948 2010-08-03   58715   57060   58715   59873   58586
  2949 2010-08-02   58586  159281   63414   63672   58264
  2950 2010-07-30   64316  383395   57942   66633   57942

  [2951 rows x 6 columns]},
 'Non_Metal': {'003670':              일자      종가     거래량      시가      고가      저가
  0    2022-07-18  112000  235294  110000  112500  107000
  1    2022-07-15  109000  156374  110500  110500  108000
  2    2022-07-14  110000  317600  109000  112000  108500
  3    2022-07-13  108500  238916  104000  108500  103500
  4    2022-07-12  104000  202906  106500  107000  103000
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27    6984  100128    6918    7041    6909
  2996 2010-05-26    6965  248234    7041    7041    6853
  2997 2010-05-25    6909  281181    6777    7050    6571
  2998 2010-05-24    6871  168649    6505    7003    6477
  2999 2010-05-20    6683   89596    6928    7069    6542

  [3000 rows x 6 columns],
  '003410':              일자    종가     거래량    시가    고가    저가
  0    2022-07-18  6290  327802  6220  6290  6210
  1    2022-07-15  6210  554727  6170  6230  6010
  2    2022-07-14  6160  577472  6220  6260  6150
  3    2022-07-13  6220  554488  6280  6300  6180
  4    2022-07-12  6280  581639  6470  6490  6230
  ...         ...   ...     ...   ...   ...   ...
  2995 2010-05-27  1162  311749  1149  1175  1149
  2996 2010-05-26  1181  361744  1170  1201  1149
  2997 2010-05-25  1159  791555  1253  1274  1144
  2998 2010-05-24  1279  151191  1272  1294  1270
  2999 2010-05-20  1294  156645  1313  1318  1270

  [3000 rows x 6 columns],
  '010780':              일자     종가     거래량     시가     고가     저가
  0    2022-07-18  39300   61481  38450  39900  38200
  1    2022-07-15  38100   35393  39100  39500  37600
  2    2022-07-14  38800   60675  37800  39700  37700
  3    2022-07-13  38100   45428  38650  38700  37500
  4    2022-07-12  38500   71609  39700  39800  37800
  ...         ...    ...     ...    ...    ...    ...
  2995 2010-05-27   6076  129096   5501   6076   5437
  2996 2010-05-26   5424   14484   5501   5501   5360
  2997 2010-05-25   5488   74104   5245   5501   5200
  2998 2010-05-24   5373   12992   5213   5475   5213
  2999 2010-05-20   5373   55738   5437   5526   5309

  [3000 rows x 6 columns],
  '300720':             일자     종가      거래량     시가     고가     저가
  0   2022-07-18  13250    66894  13050  13300  12800
  1   2022-07-15  12850   122495  13150  13250  12400
  2   2022-07-14  13150    41036  13350  13500  13050
  3   2022-07-13  13550    50291  13250  13600  12850
  4   2022-07-12  13150    49890  13400  13550  13000
  ..         ...    ...      ...    ...    ...    ...
  968 2018-08-10  12150   469820  12150  12300  11850
  969 2018-08-09  11650   413900  12150  12150  11500
  970 2018-08-08  12150   643900  12300  12600  11750
  971 2018-08-07  12150  1889920  12300  14250  11700
  972 2018-08-06  11900  2694870  14450  18400  11700

  [973 rows x 6 columns]},
 'Metal': {'005490':              일자      종가     거래량      시가      고가      저가
  0    2022-07-18  226500  273744  226000  227000  222000
  1    2022-07-15  224000  298831  225000  228000  221500
  2    2022-07-14  223000  310781  223000  225000  222000
  3    2022-07-13  226500  187735  223000  228500  223000
  4    2022-07-12  223000  252206  229500  229500  221000
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27  464500  391049  457000  470000  454500
  2996 2010-05-26  454500  427735  455000  463500  451000
  2997 2010-05-25  446000  420477  451000  457000  444500
  2998 2010-05-24  455500  381420  438500  457000  434000
  2999 2010-05-20  434500  347475  450000  450500  431000

  [3000 rows x 6 columns],
  '010130':              일자      종가     거래량      시가      고가      저가
  0    2022-07-18  460000   36699  451000  460000  447500
  1    2022-07-15  450000   20009  454000  455000  445000
  2    2022-07-14  452000   22931  454000  456000  448000
  3    2022-07-13  454500   39294  450000  457000  441000
  4    2022-07-12  453500   26706  463500  463500  453000
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27  193000  112336  186000  194000  184000
  2996 2010-05-26  186000   89574  186500  191000  184500
  2997 2010-05-25  187500  130851  186500  189500  180500
  2998 2010-05-24  189500  115544  182000  192500  181000
  2999 2010-05-20  184000  104735  189000  196000  184000

  [3000 rows x 6 columns],
  '004020':              일자     종가      거래량     시가     고가     저가
  0    2022-07-18  32100   382662  31700  32150  31350
  1    2022-07-15  31400   344704  31900  32000  30650
  2    2022-07-14  31650   320461  31450  31850  31200
  3    2022-07-13  31750   385061  31300  32250  31100
  4    2022-07-12  31000   540649  31950  32100  30700
  ...         ...    ...      ...    ...    ...    ...
  2995 2010-05-27  87000   870363  84200  88500  84000
  2996 2010-05-26  85500  1043037  82800  85500  82600
  2997 2010-05-25  82100   791281  83300  83600  79900
  2998 2010-05-24  84300   898953  79400  84600  79100
  2999 2010-05-20  79700   660850  79700  81900  79500

  [3000 rows x 6 columns],
  '016380':              일자      종가     거래량      시가      고가      저가
  0    2022-07-18   12500  499316   12400   12600   12300
  1    2022-07-15   12200  698279   12650   12700   12000
  2    2022-07-14   12600  649045   12200   12750   12200
  3    2022-07-13   12400  594763   12250   12650   12200
  4    2022-07-12   12350  956481   12700   13000   12200
  ...         ...     ...     ...     ...     ...     ...
  2995 2010-05-27  487729    6400  477056  492531  474922
  2996 2010-05-26  480792    7773  481325  489863  471720
  2997 2010-05-25  477590    8734  502136  505338  464249
  2998 2010-05-24  510141    5477  501603  512809  496267

# 최신 kospi 수집

In [18]:
'''
def Add_Kospi():
    df = kiwoom.block_request("opt20006",
                              업종코드="001",
                              기준일자=set_d,
                              output="업종일봉조회",
                              next=0)
    df = df[['일자','현재가']]
    df2 = pd.DataFrame()
    df2['일자'] = pd.to_datetime(df['일자'])
    df2['코스피지수'] = df['현재가'].astype(int)
    df2['코스피지수'] = df2['코스피지수'].apply(lambda x : x/100)
    return df2    
    
'''

In [19]:
#kospi2 = Add_Kospi()

CommRqData opt20006 opt20006 0 0101

In [20]:
#kospi2

            일자    코스피지수
0   2022-07-15  2330.98
1   2022-07-14  2322.32
2   2022-07-13  2328.61
3   2022-07-12  2317.76
4   2022-07-11  2340.27
..         ...      ...
595 2020-02-19  2210.34
596 2020-02-18  2208.88
597 2020-02-17  2242.17
598 2020-02-14  2243.59
599 2020-02-13  2232.96

[600 rows x 2 columns]

# 이전 kospi와 최신 kospi 병합(최신화)

In [21]:
#kospi3 = pd.concat([kospi2,kospi])
#kospi3=kospi3.drop_duplicates(subset=['일자'])
#kospi3 = kospi3.reset_index(drop=True)

In [22]:
#kospi3

             일자    코스피지수
0    2022-07-15  2330.98
1    2022-07-14  2322.32
2    2022-07-13  2328.61
3    2022-07-12  2317.76
4    2022-07-11  2340.27
...         ...      ...
3000 2010-05-18  1643.24
3001 2010-05-17  1651.51
3002 2010-05-14  1695.63
3003 2010-05-13  1694.58
3004 2010-05-12  1663.03

[3005 rows x 2 columns]

In [23]:
with open('df_sector_UTD.pickle','wb') as f:
    pickle.dump(df_sector,f)

In [24]:
# with open('kospi.pickle','wb') as f:
#     pickle.dump(kospi3,f)