In [1]:
import time
import pandas as pd
import pickle
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

# 데이터 로드

In [2]:
import pickle
with open('df_sector.pickle','rb') as f:
    df_sector = pickle.load(f)
with open('kospi.pickle','rb') as f:
    kospi = pickle.load(f)

# 1. 등락률 계산
# 2. 거래변동량 계산

In [3]:
#등락률 계산 : 일 등락률 = (오늘종가 – 어제종가) / 어제종가 * 100 => 평균
#등락률
for sector_name, df_dict in df_sector.items():
    for stockcode, df in df_dict.items():
        등락률 = []
        거래변동량 = []
        for i in range(len(df)): #현재가 수
            if i == len(df)-1: #각 항목의 마지막 인덱스인경우
                break
            else:    
                등락률.append((df['종가'][i]-df['종가'][i+1])/df['종가'][i+1]*100)
                거래변동량.append(abs((df['거래량'][i]-df['거래량'][i+1])))
        등락률.append(0)
        거래변동량.append(0)
        df['등락률']=등락률
        df['거래변동량']=거래변동량

# 3. 종가data 정규화

In [4]:
for sector_name, df_dict in df_sector.items():
    for stockcode, df in df_dict.items():
        scaler = MinMaxScaler()
        scaler.fit(pd.DataFrame(data = df['종가']))
        df_scaled = scaler.transform(pd.DataFrame(data = df['종가']))
        df['정규화_종가']=pd.DataFrame(data = df_scaled)

# 4. 데이터가 부족한 항목 조회

In [5]:
lack_sector_list={}
for sector_name, df_dict in df_sector.items():
    lack_stock_list = []
    for stockcode, df in df_dict.items():
        if len(df)<3000:
            lack_stock_list.append(stockcode)
    lack_sector_list[sector_name] = lack_stock_list
print(lack_sector_list)

{'Food': ['271560'], 'Clothing': ['383220'], 'Chemical': [], 'Medicine': ['207940', '302440', '128940'], 'Non_Metal': ['300720'], 'Metal': [], 'Machine': ['241560', '112610'], 'Electronic': ['373220'], 'Construction': [], 'Transport': ['180640'], 'Distribution': ['028260', '282330', '139480'], 'Power': [], 'Tele': [], 'Finance': ['323410', '377300'], 'Brokerage': [], 'Insurer': [], 'Service': ['259960', '018260'], 'Manufacturer': ['329180']}

평균을 쓴다 -> 일자별로 매핑시킨다.?
그러면 데이터 프레임을 합쳐서 일자별로 평균을 낸다. 2015=10=11
하나의 데이터프레임이 나온다. -> 한 업종의 데이터프레임> 3000*4+1230 데이터프레임 -> 날짜별 평균을 -> 날짜별 내림차순 -> 업종의 데이터프레임이 나온다. 2015 -10 -11 평균을 낸다하면 4개의 레코드가 연산에포함된다.

In [6]:
df_concat_sector = {}
for sector_name, df_dict in df_sector.items():
    sector_df = pd.concat(df_dict,axis=0)
    sector_df.reset_index(drop=True, inplace=True)
    df_concat_sector[sector_name] = sector_df

In [7]:
df_concat_sector['Food'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13230 entries, 0 to 13229
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      13230 non-null  datetime64[ns]
 1   거래량     13230 non-null  int32
 2   종가      13230 non-null  int32
 3   등락률     13230 non-null  float64
 4   거래변동량   13230 non-null  int64
 5   정규화_종가  13230 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(2), int64(1)
memory usage: 516.9 KB

In [8]:
df_sector['Food']

{'097950':              일자     거래량      종가       등락률  거래변동량    정규화_종가
 0    2022-07-08   26223  389000 -0.765306   4713  0.693333
 1    2022-07-07   21510  392000 -0.254453  11143  0.702222
 2    2022-07-06   32653  393000 -1.132075   2907  0.705185
 3    2022-07-05   35560  397500 -0.749064  24183  0.718519
 4    2022-07-04   59743  400500  2.168367   2056  0.727407
 ...         ...     ...     ...       ...    ...       ...
 2995 2010-05-18   93284  220000  5.263158  21209  0.192593
 2996 2010-05-17   72075  209000  0.480769  63428  0.160000
 2997 2010-05-14  135503  208000 -4.367816  76719  0.157037
 2998 2010-05-13   58784  217500  0.230415  16317  0.185185
 2999 2010-05-12   75101  217000  0.000000      0  0.183704

 [3000 rows x 6 columns],
 '271560':              일자      거래량      종가       등락률   거래변동량    정규화_종가
 0    2022-07-08   118773  106000 -1.395349   10625  0.345912
 1    2022-07-07   129398  107500  2.380952   36373  0.364780
 2    2022-07-06   165771  105000  0.000000   55658  0.333333
 3    2022-07-05   221429  105000 -2.777778   70501  0.333333
 4    2022-07-04   150928  108000  1.886792   28355  0.371069
 ...         ...      ...     ...       ...     ...       ...
 1225 2017-07-13   218138   81600 -2.275449   20269  0.038994
 1226 2017-07-12   238407   83500  0.845411  183896  0.062893
 1227 2017-07-11   422303   82800 -5.909091  418148  0.054088
 1228 2017-07-10   840451   88000  6.925881  779413  0.119497
 1229 2017-07-07  1619864   82300  0.000000       0  0.047799

 [1230 rows x 6 columns],
 '000080':              일자     거래량     종가       등락률   거래변동량    정규화_종가
 0    2022-07-08  202324  30650  0.656814   89957  0.491987
 1    2022-07-07  112367  30450  0.495050  133455  0.485577
 2    2022-07-06  245822  30300  0.165289   21782  0.480769
 3    2022-07-05  224040  30250  0.331675   90821  0.479167
 4    2022-07-04  314861  30150 -1.470588   66414  0.475962
 ...         ...     ...    ...       ...     ...       ...
 2995 2010-05-18  232232  30700 -4.062500  128449  0.493590
 2996 2010-05-17  103783  32000 -3.177005   33413  0.535256
 2997 2010-05-14   70370  33050 -1.343284   10014  0.568910
 2998 2010-05-13   80384  33500 -0.593472   26002  0.583333
 2999 2010-05-12   54382  33700  0.000000       0  0.589744

 [3000 rows x 6 columns],
 '004370':              일자    거래량      종가       등락률  거래변동량    정규화_종가
 0    2022-07-08  23999  283000 -1.048951   6343  0.259587
 1    2022-07-07  17656  286000 -0.694444  14638  0.268437
 2    2022-07-06  32294  288000 -1.200686   4680  0.274336
 3    2022-07-05  27614  291500  1.745201   4993  0.284661
 4    2022-07-04  32607  286500  0.526316  44532  0.269912
 ...         ...    ...     ...       ...    ...       ...
 2995 2010-05-18  35868  228500  3.393665  19597  0.098820
 2996 2010-05-17  16271  221000  0.683371   7097  0.076696
 2997 2010-05-14   9174  219500 -2.008929   4074  0.072271
 2998 2010-05-13   5100  224000  0.448430   2837  0.085546
 2999 2010-05-12   7937  223000  0.000000      0  0.082596

 [3000 rows x 6 columns],
 '005300':              일자    거래량      종가       등락률  거래변동량    정규화_종가
 0    2022-07-08  26164  174000  0.578035   8347  0.496020
 1    2022-07-07  34511  173000  0.581395  13396  0.491045
 2    2022-07-06  47907  172000  2.994012  39138  0.486070
 3    2022-07-05  87045  167000 -1.764706  46633  0.461194
 4    2022-07-04  40412  170000 -1.449275   4686  0.476119
 ...         ...    ...     ...       ...    ...       ...
 2995 2010-05-18  11740   83400  0.603136   3450  0.045274
 2996 2010-05-17  15190   82900  0.120773   2450  0.042786
 2997 2010-05-14  12740   82800 -1.662708   2150  0.042289
 2998 2010-05-13  14890   84200  1.323706   2800  0.049254
 2999 2010-05-12  12090   83100  0.000000      0  0.043781

 [3000 rows x 6 columns]}

In [9]:
df_mean_sector = {}
for sector_name, sector_df in df_concat_sector.items():
    df_mean = sector_df.groupby(['일자'],as_index=False).mean()
    df_mean_sector[sector_name] = df_mean

In [10]:
df_mean_sector['Food']

             일자        거래량        종가       등락률     거래변동량    정규화_종가
0    2010-05-12   37377.50  139200.0  0.000000      0.00  0.224956
1    2010-05-13   39789.50  139800.0  0.352270  11989.00  0.225829
2    2010-05-14   56946.75  135837.5 -2.345684  23239.25  0.210127
3    2010-05-17   51829.75  136225.0 -0.473023  26597.00  0.203685
4    2010-05-18   93281.00  140650.0  1.299365  43176.25  0.207569
...         ...        ...       ...       ...       ...       ...
2995 2022-07-04  119710.20  199030.0  0.332322  29208.60  0.464094
2996 2022-07-05  119137.60  198250.0 -0.642934  47426.20  0.455375
2997 2022-07-06  104889.40  197660.0  0.165308  24833.00  0.455939
2998 2022-07-07   63088.40  197790.0  0.501700  41801.00  0.462412
2999 2022-07-08   79496.60  196530.0 -0.394951  23997.00  0.457368

[3000 rows x 6 columns]

# 섹션별 데이터와 코스피 지수 합치기

In [12]:
result = {}
for sector_name, df in df_mean_sector.items():
    result[sector_name] =pd.merge(df,kospi,on='일자',how='left')

In [17]:
with open('result.pickle','wb') as f:
    pickle.dump(result,f)