# 환경설정

In [35]:
import pickle
import numpy as np
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import tensorflow as tf

In [36]:
with open('df_scaled_UTD.pickle','rb') as f:
    df_scaled_UTD = pickle.load(f)
with open('sector.pickle','rb') as f:
    sector = pickle.load(f)

## 파라미터 지정

In [37]:
#윈도우 사이즈
WINDOW_SIZE = 10
# X에 대한 윈도우 함수 설정값
X_size = WINDOW_SIZE
X_shift = 10
X_stride = 1
# y에 대한 윈도우 함수 설정값
y_size = 1
y_shift = WINDOW_SIZE
y_stride = 1

batch_size = 1

# 2. 모델 불러오기

In [38]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Conv1D, Lambda
from tensorflow.keras.losses import Huber
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

In [39]:
model_dic ={}
for sector_name in sector.keys():
    model_dic[sector_name] = Sequential([
        # 1차원 feature map 생성
        Conv1D(filters=32, kernel_size=5,
               padding="causal",
               activation="relu",
               #feature의 개수 3개
               input_shape=[WINDOW_SIZE, 4]),
        # LSTM
        LSTM(16, activation='tanh'),
        Dense(16, activation="relu"),
        Dense(1),
    ])

In [40]:
with open('filename_dic.pickle', 'rb') as f:
    filename_dic = pickle.load(f)

In [41]:
filename_dic

{'Food': 'Models\\Foodckeckpointer.ckpt',
 'Clothing': 'Models\\Clothingckeckpointer.ckpt',
 'Chemical': 'Models\\Chemicalckeckpointer.ckpt',
 'Medicine': 'Models\\Medicineckeckpointer.ckpt',
 'Non_Metal': 'Models\\Non_Metalckeckpointer.ckpt',
 'Metal': 'Models\\Metalckeckpointer.ckpt',
 'Machine': 'Models\\Machineckeckpointer.ckpt',
 'Electronic': 'Models\\Electronicckeckpointer.ckpt',
 'Construction': 'Models\\Constructionckeckpointer.ckpt',
 'Transport': 'Models\\Transportckeckpointer.ckpt',
 'Distribution': 'Models\\Distributionckeckpointer.ckpt',
 'Power': 'Models\\Powerckeckpointer.ckpt',
 'Tele': 'Models\\Teleckeckpointer.ckpt',
 'Finance': 'Models\\Financeckeckpointer.ckpt',
 'Brokerage': 'Models\\Brokerageckeckpointer.ckpt',
 'Insurer': 'Models\\Insurerckeckpointer.ckpt',
 'Service': 'Models\\Serviceckeckpointer.ckpt',
 'Manufacturer': 'Models\\Manufacturerckeckpointer.ckpt'}

In [42]:
for_linux = {}
for sector_name in filename_dic:
    for_linux[sector_name] = filename_dic[sector_name][7:]

In [43]:
for_linux

{'Food': 'Foodckeckpointer.ckpt',
 'Clothing': 'Clothingckeckpointer.ckpt',
 'Chemical': 'Chemicalckeckpointer.ckpt',
 'Medicine': 'Medicineckeckpointer.ckpt',
 'Non_Metal': 'Non_Metalckeckpointer.ckpt',
 'Metal': 'Metalckeckpointer.ckpt',
 'Machine': 'Machineckeckpointer.ckpt',
 'Electronic': 'Electronicckeckpointer.ckpt',
 'Construction': 'Constructionckeckpointer.ckpt',
 'Transport': 'Transportckeckpointer.ckpt',
 'Distribution': 'Distributionckeckpointer.ckpt',
 'Power': 'Powerckeckpointer.ckpt',
 'Tele': 'Teleckeckpointer.ckpt',
 'Finance': 'Financeckeckpointer.ckpt',
 'Brokerage': 'Brokerageckeckpointer.ckpt',
 'Insurer': 'Insurerckeckpointer.ckpt',
 'Service': 'Serviceckeckpointer.ckpt',
 'Manufacturer': 'Manufacturerckeckpointer.ckpt'}

In [44]:
for sector_name in filename_dic:
    model_dic[sector_name].load_weights('Models/'+for_linux[sector_name])

In [46]:
for sector_name, df in df_scaled_UTD.items():
    df_scaled_UTD[sector_name] = df.drop('종가',1)

In [47]:
df_scaled_UTD['Transport']

                 거래량        시가        고가        저가
일자
2010-05-26  0.016983  0.657058  0.663144  0.675934
2010-05-27  0.011530  0.667786  0.666047  0.677479
2010-05-28  0.009056  0.692639  0.677649  0.697269
2010-05-31  0.007711  0.680974  0.679164  0.704394
2010-06-01  0.005484  0.693599  0.676949  0.698094
...              ...       ...       ...       ...
2022-07-19  0.043768  0.176949  0.163524  0.186694
2022-07-20  0.034799  0.185339  0.165689  0.190003
2022-07-21  0.027433  0.180586  0.166599  0.190326
2022-07-22  0.026129  0.182104  0.164401  0.190510
2022-07-25  0.007830  0.177953  0.164445  0.189046

[3002 rows x 4 columns]

In [48]:
df_scaled_UTD['Machine']

                 거래량        시가        고가        저가
일자
2010-05-26  0.044926  0.453312  0.460286  0.475379
2010-05-27  0.068861  0.475767  0.509656  0.505728
2010-05-28  0.034065  0.535228  0.512656  0.548986
2010-05-31  0.030935  0.516903  0.537450  0.551607
2010-06-01  0.050590  0.562059  0.555889  0.592015
...              ...       ...       ...       ...
2022-07-19  0.024619  0.475603  0.465141  0.507751
2022-07-20  0.021200  0.496472  0.475042  0.521629
2022-07-21  0.023838  0.495104  0.482189  0.521287
2022-07-22  0.024980  0.494065  0.477770  0.524479
2022-07-25  0.009431  0.485176  0.476733  0.520574

[3002 rows x 4 columns]

# tomorrow 업종 상향 / 하향 예측하기
## 내일 종가 예측값  - 어제부터 5일 전 예측 종가 평균

In [49]:
pred_dic = {}
for sector_name, model in model_dic.items():
    pred_l = []
    for i in range(6):
        data = tf.constant(np.expand_dims(np.array(df_scaled_UTD[sector_name].tail(10+i)[:10]),axis=0))
        pred_l.append(float(model.predict(data)))
    pre = sum(pred_l[1:])/5
    if pred_l[0]>pre:
        s = sector_name + '업종은 상향을 예상합니다.'
        print(s)
        pred_dic[sector_name] = s
    elif pred_l[0]<pre:
        s = sector_name + '업종은 하향을 예상합니다.'
        print(s)
        pred_dic[sector_name] = s
    elif pred_l ==0.0:
        s= sector_name+'업종은 횡보를 예상합니다.'
        print(s)
        pred_dic[sector_name] = s

Food업종은 하향을 예상합니다.
Clothing업종은 상향을 예상합니다.
Chemical업종은 상향을 예상합니다.
Medicine업종은 하향을 예상합니다.
Non_Metal업종은 상향을 예상합니다.
Metal업종은 상향을 예상합니다.
Machine업종은 상향을 예상합니다.
Electronic업종은 상향을 예상합니다.
Construction업종은 상향을 예상합니다.
Distribution업종은 상향을 예상합니다.
Power업종은 하향을 예상합니다.
Tele업종은 하향을 예상합니다.
Finance업종은 하향을 예상합니다.
Brokerage업종은 상향을 예상합니다.
Insurer업종은 상향을 예상합니다.
Service업종은 상향을 예상합니다.
Manufacturer업종은 상향을 예상합니다.

In [34]:
with open('pred_dic.pickle','wb') as f:
    pickle.dump(pred_dic,f)