In [1]:
import time
import pandas as pd
import pickle
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

# 데이터 로드

In [2]:
import pickle
with open('df_sector.pickle','rb') as f:
    df_sector = pickle.load(f)
with open('kospi.pickle','rb') as f:
    kospi = pickle.load(f)

# 1. 등락률 계산
# 2. 거래변동량 계산

In [3]:
#등락률 계산 : 일 등락률 = (오늘종가 – 어제종가) / 어제종가 * 100 => 평균
#등락률
for sector_name, df_dict in df_sector.items():
    for stockcode, df in df_dict.items():
        등락률 = []
        거래변동량 = []
        for i in range(len(df)): #현재가 수
            if i == len(df)-1: #각 항목의 마지막 인덱스인경우
                break
            else:    
                등락률.append((df['종가'][i]-df['종가'][i+1])/df['종가'][i+1]*100)
                거래변동량.append(abs((df['거래량'][i]-df['거래량'][i+1])))
        등락률.append(0)
        거래변동량.append(0)
        df['등락률']=등락률
        df['거래변동량']=거래변동량

# 3. 종가data 정규화

In [4]:
for sector_name, df_dict in df_sector.items():
    for stockcode, df in df_dict.items():
        scaler = MinMaxScaler()
        scaler.fit(pd.DataFrame(data = df['종가']))
        df_scaled = scaler.transform(pd.DataFrame(data = df['종가']))
        df['정규화_종가']=pd.DataFrame(data = df_scaled)

# 피쳐 정리

In [5]:
for sector_name, df_dict in df_sector.items():
    for stockcode, df in df_dict.items():
        del(df['종가'])
        del(df['거래량'])

# 4. 데이터가 부족한 항목 조회

In [6]:
lack_sector_list={}
for sector_name, df_dict in df_sector.items():
    lack_stock_list = []
    for stockcode, df in df_dict.items():
        if len(df)<3000:
            lack_stock_list.append(stockcode)
    lack_sector_list[sector_name] = lack_stock_list
print(lack_sector_list)

{'Food': ['271560'], 'Clothing': ['383220'], 'Chemical': [], 'Medicine': ['207940', '302440', '128940'], 'Non_Metal': ['300720'], 'Metal': [], 'Machine': ['241560', '112610'], 'Electronic': ['373220'], 'Construction': [], 'Transport': ['180640'], 'Distribution': ['028260', '282330', '139480'], 'Power': [], 'Tele': [], 'Finance': ['323410', '377300'], 'Brokerage': [], 'Insurer': [], 'Service': ['259960', '018260'], 'Manufacturer': ['329180']}

평균을 쓴다 -> 일자별로 매핑시킨다.?
그러면 데이터 프레임을 합쳐서 일자별로 평균을 낸다. 2015=10=11
하나의 데이터프레임이 나온다. -> 한 업종의 데이터프레임> 3000*4+1230 데이터프레임 -> 날짜별 평균을 -> 날짜별 내림차순 -> 업종의 데이터프레임이 나온다. 2015 -10 -11 평균을 낸다하면 4개의 레코드가 연산에포함된다.

In [7]:
df_concat_sector = {}
for sector_name, df_dict in df_sector.items():
    sector_df = pd.concat(df_dict,axis=0)
    sector_df.reset_index(drop=True, inplace=True)
    df_concat_sector[sector_name] = sector_df

In [8]:
df_concat_sector['Food'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13230 entries, 0 to 13229
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      13230 non-null  datetime64[ns]
 1   등락률     13230 non-null  float64
 2   거래변동량   13230 non-null  int64
 3   정규화_종가  13230 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 413.6 KB

In [9]:
df_sector['Food']

{'097950':              일자       등락률  거래변동량    정규화_종가
 0    2022-07-08 -0.765306   4713  0.693333
 1    2022-07-07 -0.254453  11143  0.702222
 2    2022-07-06 -1.132075   2907  0.705185
 3    2022-07-05 -0.749064  24183  0.718519
 4    2022-07-04  2.168367   2056  0.727407
 ...         ...       ...    ...       ...
 2995 2010-05-18  5.263158  21209  0.192593
 2996 2010-05-17  0.480769  63428  0.160000
 2997 2010-05-14 -4.367816  76719  0.157037
 2998 2010-05-13  0.230415  16317  0.185185
 2999 2010-05-12  0.000000      0  0.183704

 [3000 rows x 4 columns],
 '271560':              일자       등락률   거래변동량    정규화_종가
 0    2022-07-08 -1.395349   10625  0.345912
 1    2022-07-07  2.380952   36373  0.364780
 2    2022-07-06  0.000000   55658  0.333333
 3    2022-07-05 -2.777778   70501  0.333333
 4    2022-07-04  1.886792   28355  0.371069
 ...         ...       ...     ...       ...
 1225 2017-07-13 -2.275449   20269  0.038994
 1226 2017-07-12  0.845411  183896  0.062893
 1227 2017-07-11 -5.909091  418148  0.054088
 1228 2017-07-10  6.925881  779413  0.119497
 1229 2017-07-07  0.000000       0  0.047799

 [1230 rows x 4 columns],
 '000080':              일자       등락률   거래변동량    정규화_종가
 0    2022-07-08  0.656814   89957  0.491987
 1    2022-07-07  0.495050  133455  0.485577
 2    2022-07-06  0.165289   21782  0.480769
 3    2022-07-05  0.331675   90821  0.479167
 4    2022-07-04 -1.470588   66414  0.475962
 ...         ...       ...     ...       ...
 2995 2010-05-18 -4.062500  128449  0.493590
 2996 2010-05-17 -3.177005   33413  0.535256
 2997 2010-05-14 -1.343284   10014  0.568910
 2998 2010-05-13 -0.593472   26002  0.583333
 2999 2010-05-12  0.000000       0  0.589744

 [3000 rows x 4 columns],
 '004370':              일자       등락률  거래변동량    정규화_종가
 0    2022-07-08 -1.048951   6343  0.259587
 1    2022-07-07 -0.694444  14638  0.268437
 2    2022-07-06 -1.200686   4680  0.274336
 3    2022-07-05  1.745201   4993  0.284661
 4    2022-07-04  0.526316  44532  0.269912
 ...         ...       ...    ...       ...
 2995 2010-05-18  3.393665  19597  0.098820
 2996 2010-05-17  0.683371   7097  0.076696
 2997 2010-05-14 -2.008929   4074  0.072271
 2998 2010-05-13  0.448430   2837  0.085546
 2999 2010-05-12  0.000000      0  0.082596

 [3000 rows x 4 columns],
 '005300':              일자       등락률  거래변동량    정규화_종가
 0    2022-07-08  0.578035   8347  0.496020
 1    2022-07-07  0.581395  13396  0.491045
 2    2022-07-06  2.994012  39138  0.486070
 3    2022-07-05 -1.764706  46633  0.461194
 4    2022-07-04 -1.449275   4686  0.476119
 ...         ...       ...    ...       ...
 2995 2010-05-18  0.603136   3450  0.045274
 2996 2010-05-17  0.120773   2450  0.042786
 2997 2010-05-14 -1.662708   2150  0.042289
 2998 2010-05-13  1.323706   2800  0.049254
 2999 2010-05-12  0.000000      0  0.043781

 [3000 rows x 4 columns]}

In [10]:
df_mean_sector = {}
for sector_name, sector_df in df_concat_sector.items():
    df_mean = sector_df.groupby(['일자'],as_index=False).mean()
    df_mean_sector[sector_name] = df_mean

In [11]:
df_mean_sector['Food']

             일자       등락률     거래변동량    정규화_종가
0    2010-05-12  0.000000      0.00  0.224956
1    2010-05-13  0.352270  11989.00  0.225829
2    2010-05-14 -2.345684  23239.25  0.210127
3    2010-05-17 -0.473023  26597.00  0.203685
4    2010-05-18  1.299365  43176.25  0.207569
...         ...       ...       ...       ...
2995 2022-07-04  0.332322  29208.60  0.464094
2996 2022-07-05 -0.642934  47426.20  0.455375
2997 2022-07-06  0.165308  24833.00  0.455939
2998 2022-07-07  0.501700  41801.00  0.462412
2999 2022-07-08 -0.394951  23997.00  0.457368

[3000 rows x 4 columns]

# 코스피 지수 증감량 계산

In [12]:
kospi

             일자    코스피지수
0    2022-07-08  2350.61
1    2022-07-07  2334.27
2    2022-07-06  2292.01
3    2022-07-05  2341.78
4    2022-07-04  2300.34
...         ...      ...
2995 2010-05-18  1643.24
2996 2010-05-17  1651.51
2997 2010-05-14  1695.63
2998 2010-05-13  1694.58
2999 2010-05-12  1663.03

[3000 rows x 2 columns]

In [13]:
코스피지수_증감량 = []
for i in range(len(kospi)):
    if i == len(kospi)-1:
        break
    else:    
        코스피지수_증감량.append((kospi['코스피지수'][i]-kospi['코스피지수'][i+1]))
코스피지수_증감량.append(0)
kospi['코스피지수_증감량']=코스피지수_증감량
del(kospi['코스피지수'])
kospi

             일자  코스피지수_증감량
0    2022-07-08      16.34
1    2022-07-07      42.26
2    2022-07-06     -49.77
3    2022-07-05      41.44
4    2022-07-04      -5.08
...         ...        ...
2995 2010-05-18      -8.27
2996 2010-05-17     -44.12
2997 2010-05-14       1.05
2998 2010-05-13      31.55
2999 2010-05-12       0.00

[3000 rows x 2 columns]

# 섹션별 데이터와 코스피 지수 증감량 합치기

In [14]:
result = {}
for sector_name, df in df_mean_sector.items():
    result[sector_name] =pd.merge(df,kospi,on='일자',how='left')

In [15]:
result['Food']

             일자       등락률     거래변동량    정규화_종가  코스피지수_증감량
0    2010-05-12  0.000000      0.00  0.224956       0.00
1    2010-05-13  0.352270  11989.00  0.225829      31.55
2    2010-05-14 -2.345684  23239.25  0.210127       1.05
3    2010-05-17 -0.473023  26597.00  0.203685     -44.12
4    2010-05-18  1.299365  43176.25  0.207569      -8.27
...         ...       ...       ...       ...        ...
2995 2022-07-04  0.332322  29208.60  0.464094      -5.08
2996 2022-07-05 -0.642934  47426.20  0.455375      41.44
2997 2022-07-06  0.165308  24833.00  0.455939     -49.77
2998 2022-07-07  0.501700  41801.00  0.462412      42.26
2999 2022-07-08 -0.394951  23997.00  0.457368      16.34

[3000 rows x 5 columns]

In [16]:
result['Non_Metal']

             일자       등락률          거래변동량    정규화_종가  코스피지수_증감량
0    2010-05-12  0.000000       0.000000  0.019621       0.00
1    2010-05-13  1.920749  215450.000000  0.022439      31.55
2    2010-05-14  4.572116  276431.333333  0.025618       1.05
3    2010-05-17 -1.854950  389014.666667  0.022023     -44.12
4    2010-05-18 -0.743627  104190.000000  0.022841      -8.27
...         ...       ...            ...       ...        ...
2995 2022-07-04 -1.390218   63633.250000  0.532160      -5.08
2996 2022-07-05  1.479782   59682.750000  0.541321      41.44
2997 2022-07-06 -2.687546  173408.250000  0.522977     -49.77
2998 2022-07-07  1.716426   56367.000000  0.531907      42.26
2999 2022-07-08  2.187434  175517.000000  0.544121      16.34

[3000 rows x 5 columns]

In [17]:
with open('result.pickle','wb') as f:
    pickle.dump(result,f)